div.tumble { width: 420px; margin-left: 270px; position: relative; } div.tumble a { text-decoration: underline; } div.tumble h2 { margin-top: 50px; margin-bottom: 50px; text-transform: none; color: #999; }

div.tumble pre { width: 170%; } div#content div#description { position: absolute; right: -170px; width: 160px; text-align: right; }

div#description { font: Normal 17px Helvetica,sans-serif; line-height: 20px; color: 'color:Description'; }

div#description a { color: 'color:Description'; }

div.post { position: relative; margin-bottom: 40px; padding-right: 20px; }

div.post div.date { position: absolute; left: -260px; text-align: right; width: 230px; white-space: nowrap; font-size: 34px; letter-spacing: -2px; color: 'color:Date'; text-transform: uppercase; line-height: 35px; }

div.post div.date div.date_brick { float: right; height: 30px; width: 45px; background-color: 'color:Date Block'; color: 'color:Date Block Text'; font: Bold 12px Verdana, Sans-Serif; text-align: center; line-height: 12px; margin-left: 10px; padding-top: 5px; letter-spacing: 0px; overflow: hidden; }

div.post img.permalink { width: 14px; height: 13px; border-width: 0px; background-color: #000; display: none; position: absolute; right: 0px; top: 0px; z-index: 10; }

div.post:hover img.permalink { display: inline; }

div.post h2 { font-size: 18px; font-weight: Bold; color: 'color:Post Title'; letter-spacing: -1px; margin: 0px 0px 5px 0px; }

div.post h2 a { color: 'color:Post Title'; text-decoration: none; }

div.post div.caption { font-size: 14px; font-weight: bold; color: #ffc500; margin-top: 10px; padding: 0px 20px 0px 20px; }

div.post div.caption a { color: #ffc500; }

/* Regular Post */

div.post div.regular { font-size: 12px; color: 'color:Text'; line-height: 17px; }

div.post div.regular blockquote { font-style: italic; border-left: solid 2px 'color:Text'; padding-left: 10px; }

/* Quote Post */

div.post div.quote div.quote_text { font-family: Helvetica, sans-serif; font-weight: bold; color: #fff; border-left: solid 5px 'color:Quote Border'; padding-left: 10px; }

div.post div.quote div.quote_text span.short { font-size: 36px; line-height: 40px; letter-spacing: -1px; }

div.post div.quote div.quote_text span.medium { font-size: 25px; line-height: 27px; letter-spacing: -1px; }

div.post div.quote div.quote_text span.long { font-size: 16px; line-height: 20px; }

div.post div.quote div.quote_text a { color: 'color:Quote'; }

div.post div.quote div.source { font-size: 16px; font-weight: Bold; color: 'color:Quote Source'; margin-top: 5px; }

div.post div.quote div.source a { color: 'color:Quote Source'; }

/* Link Post */

div.post div.link a { font: Bold 20px Helvetica, sans-serif; letter-spacing: -1px; color: 'color:Link Post'; }

/* Conversation Post */

div.post div.conversation ul { list-style-type: none; margin: 0px; padding: 0px 0px 0px 1px; border-left: solid 5px 'color:Conversation Border'; }

div.post div.conversation ul li { font-size: 12px; padding: 4px 10px 4px 8px; color: 'color:Conversation Text'; margin-bottom: 1px; }

div.post div.conversation ul li span.label { font-weight: bold; }

div.post div.conversation ul li span.user_1 { color: #666; }

div.post div.conversation ul li span.user_2 { color: #888; }

div.post div.conversation ul li span.user_3 { color: #aaa; }

div.post div.conversation ul li.odd { background-color: 'color:Conversation Background 1'; }

div.post div.conversation ul li.even { background-color: 'color:Conversation Background 2'; }

/* Video Post */

div.post div.video { width: 400px; margin: auto; }