:markdown

  # Keeping Software Simple

  Great software is a triangle of balance between three quality:

  1. Usefulness
  2. Ease to use
  3. Maintainability

  Unbalanced triangle examples:
    Adding more features can make less easy to use and less maintainable.
    Making something easy to use can make it less useful
    Making something easy to use can require more complex sotware and affect maintainability

  Keeping all three things in check takes diligence and irrespective of programming language or application.
  
  Visualise keeping everything small and in balance, grow keeping all things in check. Any corner of the triangle grows out you get an imbalance.

  iMovie - useful and easy to use but unmaintainable.
