- @body_class = "archive"
- @page_title = "Articles on toolmantim.com"

%h1.major Articles

%p.page-desc A random collection of infrequently-updated mostly-tech-related howtos, updates and what-nots.

%ol.archive
  - for year in @articles_by_year_then_month.keys.sort.reverse
    %li
      %h2= year
      %ol
        - for month in @articles_by_year_then_month[year].keys.sort.reverse
          %li
            %h3= Time.local(2008, month, 1).strftime("%B")
            %ol
              - for article in @articles_by_year_then_month[year][month].sort
                %li
                  %h4
                    %a{:href => "/articles/#{article.slug}"}= article.title
