- @page_title = "toolmantim.com - error"
- @body_class = "error"

%p
  %strong Deary me!
  Looks like there was an error:
  &= @error

%p
  Drop an email to <span class="email">t.lucas@#{thisdomain}</span> and I'll get right onto it.