- @hide_about = @hide_skip_nav = @hide_quip = true
- @body_class = "photo portrait"
- @page_title = "Photo: "

.portrait
  %img{:src => "/photos/IMG_2471.jpg", :alt => "IMG 2477"}/
  %h1 Going home

  %p.return
    %a{:href => "/photos"}
      Return to 
      photos &rarr;
