- @page_title = "Recent Projects by Tim Lucas"

%h1 Projects

%p 

%ol.timeline.projects
  %li
    %h2 2009
    %ol
      %li
        %h3 January
        %ol
          %li
            %h4
              %a{:href => "/"} v2 of this site - toolmantim.com
            %p ...
  %li
    %h2 2008
    %ol
      %li
        %h3 December
        %ol
          %li
            %h4
              %a{:href => "http://hellotherecanary.com/"} Hello Canary - hellotherecanary.com
            %p
              For my beautiful girlfriend&rsquo;s graphic design business, I
              helped guide her design and executed it from photoshop to the
              final product. I presented on "Static(ish) sites with nanoc and sinatra"
              at the Sydney roro meetup shortly after explaining some of the Ruby I managed to sneak in.
          %li
            %p
              %a{:href => "http://whatwouldmylesdo.com/"} What Would Myles Do - whatwouldmylesdo.com
            %p A single-serving-site providing a direct tap into Myles' brain. 
      %li
        %h3 September
        %ol
          %li
            %h4
              %a{:href => "http://webjam.com.au/home.mobile"} Mobile v. of the Webjam site - webjam.com.au/home.mobile
            %p ...
          %li
            %p
              %a{:href => "http://webjam.com.au"} Relaunch of the Webjam site - webjam.com.au
            %p ...
      %li
        %h3 July
        %ol
          %li
            %h4
              %a{:href => "http://iphone.news.com.au/"} iPhone version of news.com.au - iphone.news.com.au
            %p ...