- @include_tumble_stylesheet = true

.tumble
  .post
    .info
      %p.date
        Tue Dec 23rd
      %p.permalink
        %a{ :href => "http://tumble.toolmantim.com/post/66329629/im-not-sure-that-its-about-answers-i-think-its" } ∞
    .quote
      .quote_text
        %span.medium
          I’m not sure that it’s about answers. I think it’s more about porcupines. Now as far as worship goes could I suggest that everyone worships Baked-beans.
      .source
        \&mdash;
        %a{ :href => "http://www.flickr.com/photos/gusset/3117892536#comment72157611493531734" }
          Turkey Sacrifice from 12 Days 2008

  .post
    .info
      %p.date
        Wed Dec 17th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .link
      %a{ :href => "http://www.boston.com/bigpicture/2008/12/2008_greek_riots.html" }
        The Boston Globe's photo coverage of the 2008 Greek riots
      some of the most amazing pieces of photojournalism I’ve ever seen

  .post
    .info
      %p.date
        Mon Dec 8th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .quote
      .quote_text
        %span.medium
          when you don’t create things, you become defined by your tastes rather than ability. your tastes only narrow &amp; exclude people. so create.
      .source
        \&mdash;
        %a{ :href => "http://twitter.com/_why/statuses/881768089" }
          Twitter / why the lucky stiff: when you don’t create thing…

  .post
    .info
      %p.date
        Sat Nov 29th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/l6xSmhBkDgv50uwefi9nWxZso1_400.jpg", :alt => "WetBack Catalogue - Pink Floyd by Storm Thorgerson, showing at the global gallery next week" }/
      %br/
      .caption
        %a{ :href => "http://www.globalgallery.com.au/ViewAlldes.aspx?keyid=2676" }
          WetBack Catalogue - Pink Floyd
        by Storm Thorgerson, showing at
        %a{ :href => "http://www.globalgallery.com.au/index.aspx?Status=profile&amp;orig=exhibCurr&amp;fname1=Storm&amp;lname1=Thorgerson" }
          the global gallery
        next week

  .post
    .info
      %p.date
        Sat Nov 29th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/l6xSmhBkDgv4yfaq502Qhp48o1_400.jpg", :alt => " Tree Crawler-The Widow - The Mars Volta  by Storm Thorgerson, showing at the global gallery next week" }/
      %br/
      .caption
        %a{ :href => "http://www.globalgallery.com.au/ViewAlldes.aspx?keyid=2628" }
          Tree Crawler-The Widow - The Mars Volta
        by Storm Thorgerson, showing at
        %a{ :href => "http://www.globalgallery.com.au/index.aspx?Status=profile&amp;orig=exhibCurr&amp;fname1=Storm&amp;lname1=Thorgerson" }
          the global gallery
        next week

  .post
    .info
      %p.date
        Sat Nov 29th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/l6xSmhBkDgv4x91gJtu3XnhMo1_400.jpg", :alt => "Coma - The Mars Volta by Storm Thorgerson, showing at the global gallery next week" }/
      %br/
      .caption
        %a{ :href => "http://www.globalgallery.com.au/ViewAlldes.aspx?keyid=2622" }
          Coma - The Mars Volta
        by Storm Thorgerson, showing at
        %a{ :href => "http://www.globalgallery.com.au/index.aspx?Status=profile&amp;orig=exhibCurr&amp;fname1=Storm&amp;lname1=Thorgerson" }
          the global gallery
        next week

  .post
    .info
      %p.date
        Sat Nov 1st
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/pMDJ44OGKfq13v9kKQoUv55po1_400.jpg", :alt => "via themaninblue:\n\nAbsolutely gorgeous TV receiver and remote: Le Cube by Yves B&eacute;har" }/
      %br/
      .caption
        %p
          via
          %a{ :href => "http://themaninblue.tumblr.com/post/57240649/dezeen-blog-archive-le-cube-by-yves-b-har" }
            themaninblue
          \:
        Absolutely gorgeous TV receiver and remote:
        %a{ :href => "http://www.dezeen.com/2008/10/26/le-cube-by-yves-behar/#more-19686" }
          Le Cube by Yves Béhar

  .post
    .info
      %p.date
        Sat Nov 1st
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .quote
      .quote_text
        %span.short
          Thanks for the fair post on this. We made a mistake and I’m still learning from it.
      .source
        \&mdash; an impressive display of honesty and openness
        %a{ :href => "http://markrushworth.com/template_permalink.asp?id=231#242" }
          by  Matthew T. Grant
        from
        %a{ :href => "http://www.aquent.com/" }
          Acquent
        on
        %a{ :href => "http://markrushworth.com/" }
          Mark Rushworth
        ’s article
        %a{ :href => "http://markrushworth.com/template_permalink.asp?id=231" }
          Aquent Vs the Design Industry
        \. Acquent
        %a{ :href => "http://blogs.aquent.com/thetalentblog/2008/08/betrayal_of_everything_we_stan.html" }
          created a competition
        on
        %a{ :href => "http://99designs.com/" }
          99designs
        with a $500 prize for a redesign of their homepage and managed to cause a
        %a{ :href => "http://www.qbn.com/topics/560596/" }
          173 post stink
        about it on QBN.

  .post
    .info
      %p.date
        Thu Oct 30th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/1TEAMALpsfnq0rwyjLJ7xwXJo1_400.jpg", :alt => "dancroak:\n\nIt&rsquo;s a baby mop. Obviously." }/
      %br/
      .caption
        %p
          %a{ :href => "http://dancroak.tumblr.com/post/56952983/its-a-baby-mop-obviously" }
            dancroak
          \:
        %blockquote
          It’s a baby mop. Obviously.

  .post
    .info
      %p.date
        Thu Oct 30th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/l6xSmhBkDfo74hmeyGIN1HBpo1_400.jpg", :alt => "nevereverland&amp;#8217;s neverelephant. Mad logo." }/
      %br/
      .caption
        %a{ :href => "http://www.nevereverland.com.au/" }
          nevereverland
        ’s neverelephant. Mad logo.

  .post
    .info
      %p.date
        Wed Oct 29th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/zxf1Ly3X6fgy51jyPf9u3vJZo1_400.jpg", :alt => "youlooknicetoday:\n\nIf we were to press buttons announcing the theme of our forthcoming episode, they would pretty much look exactly like this." }/
      %br/
      .caption
        %p
          %a{ :href => "http://youlooknicetoday.tumblr.com/post/56201087/if-we-were-to-press-buttons-announcing-the-theme" }
            youlooknicetoday
          \:
        %blockquote
          If we were to press buttons announcing the theme of our forthcoming episode, they would pretty much look exactly like this.

  .post
    .info
      %p.date
        Mon Oct 27th
      %p.permalink  
        %a{ :href => "http://tumble.toolmantim.com/post/65263502/the-boston-globes-photo-coverage-of-the-2008-greek" } ∞
    .photo
      %img{ :src => "http://media.tumblr.com/l6xSmhBkDfk7djwiXyOD2PMgo1_400.jpg", :alt => "The Galactically Hot Women of Star Trek TOS" }/
      %br/
      .caption
        %a{ :href => "http://www.flickr.com/photos/poletti/sets/72157602965392887/" }
          The Galactically Hot Women of Star Trek TOS
          
  .post
    .info
      %p.date
        Wed Oct 15th
      %p.permalink
        %a{ :href => "http://tumble.toolmantim.com/post/54638434/using-any-font-with-imagemagick" }
          ∞
    .regular
      %h2
        %a{ :href => "http://tumble.toolmantim.com/post/54638434/using-any-font-with-imagemagick" }
          Using any font with imagemagick
      %p
        If you want to get Adobe font folio fonts, or any fonts really, working with
        %a{ :href => "http://www.imagemagick.org/" }
          imagemagick
        I suggest you skip the two hours of pain and simply do the following:
      %ol
        %li
          Download and install
          %a{ :href => "http://fontforge.sf.net/" }
            FontForge
          \.
        %li
          Use FontForge to save your font as a PS Type 1 into a directory somewhere. You should end up with a
          %code
            pfb
          and
          %code
            afm
          file.
        %li
          Use
          %code
            convert -list font
          to list the fonts on your system. The first line shows use the path to the XML file for your type definitions.
        %li
          Add an entry to that file for your font, pointing to the two files generated by FontForge.
        %li
          %code
            convert -font AkzidenzGroteskBE-Cn -pointsize 72 label:woot woot.png
      %p
        Tested on OSX but should work wherever.

  
  .prevnext.autopagerize_insert_before
    %a.prev{ :href => "/page/2", :rel => "next" }
      « Earlier Edition
    %span.page Page 1 of 41
    %a.next{ :href => "/page/2", :rel => "next" }
      Later Edition »
      
%h1.major
  %a{:href => "/"} Tumble