html {
  background: #000;
  color: #fff;
  font-family: Georgia;
}
body {
  padding-bottom: 100px;
}
body, html {
  margin: 0;
  padding: 0;
}
.content {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.home .content {
  width: 600px;
  margin: 100px auto 0 auto;
}

a img {
  border: none;
}
.header h1 {
  margin-top: 50px;
}
h1 {
  font-size: 250%;
  margin-bottom: 0.2em;
}
h1 a {
  color: #fff;
}
h1 span {
  color: #888;
}
h1 a:hover {
  color: #fff;
}
h1 a:hover span {
  color: #229ADC;
}
h2 {
  color: #FFC500;
}
a {
  color: #229ADC;
  text-decoration: none;
}
a:hover {
  color: #42BAFB;
  text-decoration: underline;
}

h1, h2, h3, h4, .navigation {
  text-shadow: 0 0 0 #000;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
h1, h2, h3 {
  letter-spacing: -0.08em;  
  text-transform: uppercase;
}
h1 {
  letter-spacing: -0.12em;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  text-decoration: none;
}
p {
  line-height: 1.4em;
}

.article h3 {
  text-transform: none;
  font-size: 150%;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}
.article .body {
  line-height: 140%;
}
.article .body p {
  margin: 0.75em 0;
}
.article code {
  letter-spacing: 0;
  line-height: 130%;
}
.article .body pre {
  margin-bottom: 2em;
}
.article {
  margin-top: 2em;
}
.article .published {
  margin-top: 0;
  color: #888;
}
.article .body blockquote {
  border: 1px solid #444;
  background-color: #333;
  font-color: #ddd;
  margin-left: 1.5em;
  font-family: "Hoefler Text";
  padding: 1px 1px 1px 0.3em;
}
.article .body blockquote p {
  margin: 0.3em;
}
.article pre {
  padding: 5px 8px;
  overflow: auto;
  width: 100%;
}
.article a.thumb, .article a.thumb2, .article img.thumb, .article img.thumb2 {
  border: 1px solid #f89838;
  margin-bottom: 8px;
}
.article a.thumb, .article img.thumb {
  float: left;
  margin-right: 10px;
}
.article a.thumb2, .article img.thumb2 {
  float: right;
  margin-left: 10px;
}

.article a.thumb img, .article a.thumb2 img {
  border: none;
  margin: 0;
}
.article strong.update {
  color: #f89838;
  font-style: italic;
}

.article .comments ol, .article .comments ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.article .comments ol li {
  margin-bottom: 1.5em;
}
.article .comments ol li p.author {
  margin-bottom: 0;
}

ol.timeline {
  margin-top: 2em;
  margin-left: 3.5em;
}
ol.timeline, ol.timeline li, ol.timeline li ol {
  list-style: none;
  position: relative;
}

ol.timeline li h1 {
  position: absolute;
  top: 0;
  left: -3em;
  margin: 0;
  font-size: 2em;
  line-height: 1em;
}
ol.timeline li h2 {
  position: absolute;
  top: 0;
  left: -4.4em;
  width: 6em;
  text-align: right;
  margin: 0;
  font-size: 1em;
}
ol.timeline li a, ol.timeline li h2 {
  line-height: 1.5em;
}
ol.timeline li h3 {
  font-size: 1.0em;
  text-transform: none;
  font-family: Georgia;
  font-weight: bold;
}
ol.timeline p {
  margin: 0 0 0.5em 0;
}

ol.archive > li > ol > li {
  margin-bottom: 1em;
}
ol.projects > li > ol > li > ol > li {
  margin-bottom: 1em;
}


.fat-footer {
  margin: 30px 0 2px 0; /* 2px above footer */
  font-size: 0.8em;
  line-height: 2.0em;
  padding: 12px 15px;
  background-color: #333;
  color: #bbb;
  float: left;
}
.fat-footer .about {
  float: left;
  width: 49%;
}
.fat-footer .articles {
  float: right;
  width: 49%;
}
.fat-footer .about p {
  display: inline;
}
.fat-footer .articles p {
  display: inline;
}
.fat-footer .articles p.contact, .fat-footer .articles p.browse {
  display: block;
}
.fat-footer .nav {
  color: #666;
}

.footer {
  clear: both;
  margin-top: 30px;
  border-top: 1px solid #333;
  height: 2em;
}
.footer .quip {
  margin-top: 0.5em;
  float: right;
  color: #444;
  font-size: 0.9em;
}

.home h1 {
  float: left;
  margin: 0;
}
.home .meta {
  margin-left: 280px;
}

/*
	Code highlighting
    VibrantInk colours from Justin Palmer @ http://encytemedia.com
*/

pre, code { background-color: #222; }

 /** RUBY / JAVASCRIPT **/
code span.comment { color: #BD48B3; }
code span.string { color: #99FF00; }
code span.brackets { }
code span.symbol { color: #6BCFF7; }
code span.keywords { color: #FF8400; }

/** HTML **/
code.html span.tag { color: #fff; }
code.html span.attribute { color: #FFD500; }
code.html span.string { color: #99FF00; }
code.html span.comment { color: #999; }
code.html span.doctype { color: #D7FF80; }

/** CSS **/
code.css .selectors { color: #f60; }
code.css .properties { color: #995; }

/** SHELL **/
code.shell { color: #999; }
code.shell span.keywords { color: #fff; }