-# title: 2007&#8217;s Mad Month of Events
-# published: 2007-05-30

:textile
  _So we've had:_
  
  "RailsConf 2007":http://conferences.oreillynet.com/rails/ come and go, without my attendance :(
  
  "Web Directions South 2007":http://www.webdirections.org/ opened it's doors with an event that's going to be huge.
  
  The announcement of a "Yahoo-style Hack Day":http://www.webdirections.org/program/web-hack/ alongside Web Directions.
  
  _and we've got coming up:_
  
  "Google developer day":http://code.google.com/events/developerday/au-home.html in 8 hours. I'll be racking their brains and measuring up the chance of getting some Ruby into the local Googleminiplex.
  
  "WSG meetup":http://webstandardsgroup.org/meetings/index.cfm?event_id=95 in 14 hours.
  
  "Webjam":http://webjam.com.au/post/piping-hot-web.html next Thursday. There's still presenter slots available, and first prize is a huge Adobe CS3 package!
  
  "Railscamp 07":http://railscamp07.org on 15-18. The rails unconference. 4 days of hiking and hacking 1hr north of Sydney.
  
  "Webjam@Remix":http://www.microsoft.com/australia/remix07/ on the 25-26.
  
  Rails Oceania Sydney meetup on the 27th.
  
  ...and it looks like in July I'll be due for a geek detox.

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_612
      %p.author
        %a{:href => 'http://yeahnah.org'} Ryan
      .body
        :textile
          What does a geek detox involve? :)
    %li#comment_616
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          I'm thinking at least 72 hours w/o internet access...
