-# title: A clean slate, Edge Rails recipe
-# published: 2006-12-07

:textile
  Having created a few new Rails apps lately I thought I'd document my process of getting a new Edge Rails project, ready for development.
  
  <a href="http://www.flickr.com/photos/toolmantim/314553250/"><img src="http://static.flickr.com/118/314553250_84581c8d79_m.jpg" width="240" height="160" alt="Smile" /></a>
  
  The following is my recipe for creating a new application we'll call "idol." Obviously this whole thing is specific to the tools I use and how I like things set up, so firstly Ill just lay out my tools of choice: "subversion":http://subversion.tigris.org/, "piston":http://piston.rubyforge.org/, "mysql5":http://www.mysql.com/ client and "capistrano":http://rubyforge.org/projects/capistrano/.
  
  Without further ado, here tis:
  <pre><code>
  mkdir idol
  cd idol
  
  # Checkout edge rails
  svn co http://dev.rubyonrails.com/svn/rails/trunk rails
  
  # Create new rails app using edge rails
  ruby rails/railties/bin/rails idol
  rm -Rf rails
  rm idol/log/*
  
  # Prepare app for initial SVN
  mv idol trunk
  mkdir files branches tags
  svn import . https://dev.aviditybytes.com/svn/idol -m "Initial import of project"
  
  # Remove local and check out working copy
  rm -Rf *
  svn co https://dev.aviditybytes.com/svn/idol/trunk
  svn co https://dev.aviditybytes.com/svn/idol/files
  
  # Set up various sexy SVN parts
  cd trunk
  svn propset svn:ignore '*' log
  svn propset svn:ignore '*' tmp/cache
  svn propset svn:ignore '*' tmp/pids
  svn propset svn:ignore '*' tmp/sessions
  svn propset svn:ignore '*' tmp/sockets
  svn commit -m "Set various ignores"
  
  # Piston all our dependencies
  
  svn up
  piston import http://dev.rubyonrails.org/svn/rails/trunk vendor/rails
  svn commit -m "Added Piston'd Edge Rails"
  
  svn up
  piston import http://dev.rubyonrails.org/svn/rails/plugins/exception_notification vendor/plugins/exception_notification
  svn commit -m "Added Piston'd ExceptionNotification plugin"
  
  # Cap baby, cap!
  cap --apply-to .
  svn add config/deploy.rb
  svn add lib/tasks/capistrano.rake
  svn commit -m "Added Capistrano"
  
  svn mv config/database.yml config/database.example.yml
  svn propset svn:ignore "database.yml
  lighttpd.conf" config
  svn commit -m "Moved database.yml and set various config ignores"
  
  # Hosted @ segpub.com.au
  rm config/deploy.rb
  curl http://svn.aviditybytes.com/rails/libs/segpub_capistrano_recipe/deploy.rb > config/deploy.rb
  svn commit -m "Changed deployment recipe to the Segpub family recipe"
  
  # Topfunky's hot tip: cache_svn
  curl http://pastie.caboo.se/2973/download > config/cache_svn.rb
  svn add config/cache_svn.rb
  svn commit -m "Added cache_svn.rb from http://pastie.caboo.se/2973"
  
  # Database foobar
  cp config/database.example.yml config/database.yml
  
  echo "create database idol_development; create database idol_test;" | mysql5 -u root
  
  ./script/generate session_migration
  rake db:migrate
  
  echo "* Update your config/environment.rb to use ActiveRecord session store"
  echo "* Modify the dispatcher.* shebangs"
  echo "* Customise config/deploy.rb"
  echo "* Start a codin..."
  </code></pre>
  
  <a href="http://www.flickr.com/photos/toolmantim/314553659/"><img src="http://static.flickr.com/121/314553659_09ee2e8341_m.jpg" width="160" height="240" alt="Bunny" /></a>
  
  Add salt as required.

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_392
      %p.author
        %a{:href => 'http://teamaskins.net'} Ben Askins
      .body
        :textile
          Nice article Tim.  However, can you clarify why you need to change the dispatcher shebangs?
    %li#comment_393
      %p.author
        %a{:href => 'http://topfunky.com'} topfunky
      .body
        :textile
          And I assume it can take a command-line arg to specify the name of the app you're building?
    %li#comment_394
      %p.author
        Don Park
      .body
        :textile
          Awesome article. very helpful for getting things setup in a best-practices way. topfunky: the script starts out like a log of a shell session but ends up like a shell script. i think you're going to need some $1 vars to take the project name on the command line.
    %li#comment_395
      %p.author
        Nathan de Vries
      .body
        :textile
          You might find my "SVN cache diff":http://atnan.com/cache_svn.rb.diff useful. Saves a few headaches.
    %li#comment_396
      %p.author
        Fred
      .body
        :textile
          we &lt;3 Tim!
    %li#comment_397
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Ben: It's only if you're using cgi or fcgi. If the shebang doesn't point to the ruby interpreter then your dispatcher won't spawn. In the case of segpub you just change it to use @/usr/bin/env ruby@ (which should also work in your dev environment).
          
          topfunky: Yeah it's not a shell script, as it's not useful to anybody w/o some modification. It's more of a recipe. I just figured it might be good for people to see how to set things up properly from the beginning. I'm not gonna bother turning it into a shell script for my own use as I don't use it often enough.
          
          Nathan: cheers!
    %li#comment_401
      %p.author
        %a{:href => 'http://blog.lachie.info'} Lachie
      .body
        :textile
          cool... I can understand ignoring lighttpd.conf, but why database.yml?
    %li#comment_402
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          I don't store database.yml in SVN, instead I just have <code>database.example.yml</code>
    %li#comment_403
      %p.author
        %a{:href => 'http://blog.lachie.info'} Lachie
      .body
        :textile
          Yep, but why not store it? Just curious :)
    %li#comment_427
      %p.author
        %a{:href => 'http://www.clearlinewebsystems.ca'} Steve
      .body
        :textile
          Because if you store database.yml in your svn it A) has your database passwords in it (if that's an issue--depending on who has access to your repository), and B) will overwrite changes on other systems you may not want it to change (multiple developers working with local dbs for development and testing with different credentials)
    %li#comment_432
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          What Steve said ;)
    %li#comment_501
      %p.author
        %a{:href => 'http://olle.ter.dk'} Olle Jonsson
      .body
        :textile
          A thought:
          
          For the curl-fetched script about cache_svn, try this URL:
          
          http://pastie.caboo.se/2973.txt
          
          instead of this:
          
          http://pastie.caboo.se/2973
          
    %li#comment_502
      %p.author
        %a{:href => 'http://ht'} Olle Jonsson
      .body
        :textile
          Feh, nevermind, the /download is as good as txt. Sorry for not paying better attention.
    %li#comment_1342
      %p.author
        %a{:href => 'http://scrumfu.blogspot.com'} JoNtE
      .body
        :textile
          I Guess you need to use
          <code>
          capify .
          </code>
          instead of "cap --apply-to ." nowdays... right?
          
          // Jonas Montonen
    %li#comment_1360
      %p.author
        Philippe Rathe
      .body
        :textile
          Thanks a lot!
