-# title: A clean slate, Edge Rails recipe
-# published: 2006-12-07

:textile
  Having created a few new Rails apps lately I thought I'd document my process of getting a new Edge Rails project, ready for development.
  
  <a href="http://www.flickr.com/photos/toolmantim/314553250/"><img src="http://static.flickr.com/118/314553250_84581c8d79_m.jpg" width="240" height="160" alt="Smile" /></a>
  
  The following is my recipe for creating a new application we'll call "idol." Obviously this whole thing is specific to the tools I use and how I like things set up, so firstly Ill just lay out my tools of choice: "subversion":http://subversion.tigris.org/, "piston":http://piston.rubyforge.org/, "mysql5":http://www.mysql.com/ client and "capistrano":http://rubyforge.org/projects/capistrano/.
  
  Without further ado, here tis:
  <pre><code>
  mkdir idol
  cd idol
  
  # Checkout edge rails
  svn co http://dev.rubyonrails.com/svn/rails/trunk rails
  
  # Create new rails app using edge rails
  ruby rails/railties/bin/rails idol
  rm -Rf rails
  rm idol/log/*
  
  # Prepare app for initial SVN
  mv idol trunk
  mkdir files branches tags
  svn import . https://dev.aviditybytes.com/svn/idol -m "Initial import of project"
  
  # Remove local and check out working copy
  rm -Rf *
  svn co https://dev.aviditybytes.com/svn/idol/trunk
  svn co https://dev.aviditybytes.com/svn/idol/files
  
  # Set up various sexy SVN parts
  cd trunk
  svn propset svn:ignore '*' log
  svn propset svn:ignore '*' tmp/cache
  svn propset svn:ignore '*' tmp/pids
  svn propset svn:ignore '*' tmp/sessions
  svn propset svn:ignore '*' tmp/sockets
  svn commit -m "Set various ignores"
  
  # Piston all our dependencies
  
  svn up
  piston import http://dev.rubyonrails.org/svn/rails/trunk vendor/rails
  svn commit -m "Added Piston'd Edge Rails"
  
  svn up
  piston import http://dev.rubyonrails.org/svn/rails/plugins/exception_notification vendor/plugins/exception_notification
  svn commit -m "Added Piston'd ExceptionNotification plugin"
  
  # Cap baby, cap!
  cap --apply-to .
  svn add config/deploy.rb
  svn add lib/tasks/capistrano.rake
  svn commit -m "Added Capistrano"
  
  svn mv config/database.yml config/database.example.yml
  svn propset svn:ignore "database.yml
  lighttpd.conf" config
  svn commit -m "Moved database.yml and set various config ignores"
  
  # Hosted @ segpub.com.au
  rm config/deploy.rb
  curl http://svn.aviditybytes.com/rails/libs/segpub_capistrano_recipe/deploy.rb > config/deploy.rb
  svn commit -m "Changed deployment recipe to the Segpub family recipe"
  
  # Topfunky's hot tip: cache_svn
  curl http://pastie.caboo.se/2973/download > config/cache_svn.rb
  svn add config/cache_svn.rb
  svn commit -m "Added cache_svn.rb from http://pastie.caboo.se/2973"
  
  # Database foobar
  cp config/database.example.yml config/database.yml
  
  echo "create database idol_development; create database idol_test;" | mysql5 -u root
  
  ./script/generate session_migration
  rake db:migrate
  
  echo "* Update your config/environment.rb to use ActiveRecord session store"
  echo "* Modify the dispatcher.* shebangs"
  echo "* Customise config/deploy.rb"
  echo "* Start a codin..."
  </code></pre>
  
  <a href="http://www.flickr.com/photos/toolmantim/314553659/"><img src="http://static.flickr.com/121/314553659_09ee2e8341_m.jpg" width="160" height="240" alt="Bunny" /></a>
  
  Add salt as required.
