-# title: A &#8220;DHH Approved&#8221; Logo?
-# published: 2007-07-29

:textile
  I just picked up on the hearty discussion surrounding the "Rails logo":http://wiki.rubyonrails.com/rails/pages/RailsVisualIdentity at "Peter Cooper's blog":http://www.rubyinside.com/david-heinemeier-hansson-says-no-to-use-of-rails-logo-567.html and "the unspace blog":http://rethink.unspace.ca/2007/7/23/beginning-rails-from-novice-to-professional#comments.
  
  It seems David's always owned the logo, I guess this just wasn't very well communicated when the branding exercise was taking place. The "official site":http://rubyonrails.org/ states it pretty clearly:
  
  bq. "Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.
  
  Lot's of confused faces on Peter Cooper's post, but I think the most useful suggestion was in "Frank Pole's comment":http://www.rubyinside.com/david-heinemeier-hansson-says-no-to-use-of-rails-logo-567.html#comment-23320 (emphasis mine):
  
  bq. Branding is overrated (I mean in this case). The logo is free advertising, it won't weaken the "brand" in any way. Scary how, even the young, don't learn. Should send this guy to Lawrence Lessig and let him explain what it is all about. <em>He could create a own spin-off logo, funded by himself, for his books</em>.
  
  Peter <a href="http://www.rubyinside.com/david-heinemeier-hansson-says-no-to-use-of-rails-logo-567.html#comment-23323">picked up on this too</a>:
  
  bq. I really like the idea of there being a "Ruby on Rails Officially Approved" type logo and a generic branding logo that everyone can use. That way DHH and DHH approved products can use the "Official Approved" logo whereas the other can just be used for branding and recognition purposes.
  
  Why David chose to trademark the community funded logo instead of trademarking his own creation seems crazy to those used to openly sharing the love.
  
  He's obviously proud of his creation and wants to retain tight control and though it's completely within his rights to do so I'm not sure it's doing much good to the Rails community or his personal brand.
