-# title: A &#8220;DHH Approved&#8221; Logo?
-# published: 2007-07-29

:textile
  I just picked up on the hearty discussion surrounding the "Rails logo":http://wiki.rubyonrails.com/rails/pages/RailsVisualIdentity at "Peter Cooper's blog":http://www.rubyinside.com/david-heinemeier-hansson-says-no-to-use-of-rails-logo-567.html and "the unspace blog":http://rethink.unspace.ca/2007/7/23/beginning-rails-from-novice-to-professional#comments.
  
  It seems David's always owned the logo, I guess this just wasn't very well communicated when the branding exercise was taking place. The "official site":http://rubyonrails.org/ states it pretty clearly:
  
  bq. "Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.
  
  Lot's of confused faces on Peter Cooper's post, but I think the most useful suggestion was in "Frank Pole's comment":http://www.rubyinside.com/david-heinemeier-hansson-says-no-to-use-of-rails-logo-567.html#comment-23320 (emphasis mine):
  
  bq. Branding is overrated (I mean in this case). The logo is free advertising, it won't weaken the "brand" in any way. Scary how, even the young, don't learn. Should send this guy to Lawrence Lessig and let him explain what it is all about. <em>He could create a own spin-off logo, funded by himself, for his books</em>.
  
  Peter <a href="http://www.rubyinside.com/david-heinemeier-hansson-says-no-to-use-of-rails-logo-567.html#comment-23323">picked up on this too</a>:
  
  bq. I really like the idea of there being a "Ruby on Rails Officially Approved" type logo and a generic branding logo that everyone can use. That way DHH and DHH approved products can use the "Official Approved" logo whereas the other can just be used for branding and recognition purposes.
  
  Why David chose to trademark the community funded logo instead of trademarking his own creation seems crazy to those used to openly sharing the love.
  
  He's obviously proud of his creation and wants to retain tight control and though it's completely within his rights to do so I'm not sure it's doing much good to the Rails community or his personal brand.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_743
      %p.author
        %a{:href => 'http://yeahnah.org'} Ryan Allen
      .body
        :textile
          Protecting the trademark is a fair reason for doing this... And especially the books he writes and the conferences he endorses. I'd hate to see a bunch of BS 'official' conferences pop up.
          
          Basically if he doesn't say "Oi! Restricted Usage Biznatches!" then under US law the trademark is void and the Rails logo goes public domain.
          
          So I reckon it's just a bit of playing devils advocate.
    %li#comment_744
      %p.author
        Ryan Allen
      .body
        :textile
          Sorry not devils advocate... I meant a deal with the devil... Or a devil in hot pants, oh I don't know!!
    %li#comment_748
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          Sure I can see both sides of the coin, though my suggestion was that it might have been better for his personal brand (DHH) and the Rails community had he chose a different mark to use for official endorsements. I know I didn't see the logo as inferring any sort of official endorsement, but maybe others do.
    %li#comment_751
      %p.author
        %a{:href => 'http://www.mrneighborly.com/'} Jeremy
      .body
        :textile
          I agree with you, Tim.  Of course, I think it's altogether silly for an open-source project to freak out about the "quality of its brand."  Maybe next we can get some of the jerks off the ML because they're lowering the quality of the "brand" of Rails? ;)
    %li#comment_794
      %p.author
        mat
      .body
        :textile
          This is a fairly dumb discussion.  Don't waste time creating political nonsense.
    %li#comment_800
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          As opposed to your insightful comment, Mat? Time went spent indeed.
    %li#comment_864
      %p.author
        Jason Tibbs
      .body
        :textile
          I think the key point that many are missing is that the logo was funded with community money. When the effort was undertaken, David did not make it clear about how the logo would later be restricted. Most contributors understood the logo to be "open" and initially used the logo freely.
          
          That said, what does the logo need protection from? And if you do come up with a good reason, then who will police it and pay for the policing? As many pointed out in the comments, there is much disparity in the enforcement of the logo's use, rendering most of it's protections weak.
