-# title: A new jobfutures.com.au and my <span class="caps">BDD</span>/RSpec preso
-# published: 2007-02-26

:textile
  A long delay in announcement, but "the new Job Futures site":http://www.jobfutures.com.au has finally gone live, thanks to the hard work of my fellow JFerini BJ. 
  
  Rails driven, standards compliant and with "google maps to boot":http://www.jobfutures.com.au/members_map.html -- it's a far cry from the flash thing that used to be up there.
  
  Last week we held the Rails meetup up at our national office, where I dared to wear a "blue-wiggle-like-headset":http://flickr.com/photos/toolmantim/375359287/ so I could get a screencast on BDD/RSpec for all those who couldn't make it. This week is hectic thanks to the upcoming "webjam":http://webjam.com.au (which I'm both presenting at, and running/writing the SMS voting system again), so as soon as I get a free hour to coordinate to sync the garageband audio and IShowU screen cap I'll get it up for all to see.
