-# title: Ales on Rails Chrissy Meetup
-# published: 2006-12-02
-# updated: 2006-12-15

:textile
  <strong class="update">Update:</strong> What a great night! Check out "the debrief":http://toolmantim.com/article/2006/12/15/rails_aus_sydney_christmas_bash.
  
  !http://www.toolmantim.com/images/blog/ales-on-rails.gif(Ales on Rails: Sydney Ruby on Rails Meetup)!
  
  The Ruby on Rails Australia Sydney group is having their final meetup for the year.
  
  It's on Wednesday the 13th December 2006, at "Digital Wranglers Ranch, Sydney":http://maps.google.com/maps?f=q&hl=en&q=70+Mary+St,+Surry+Hills+NSW+2010,+Australia+(Digital+Wranglers+Ranch)&sll=-33.882677,151.209912&sspn=0.010065,0.024998&ie=UTF8&z=16&om=1&iwloc=addr.
  
  What's being covered?
  * Meet and greet
  * Ben & Myself: Rails overview and 1.2 changes (beginner+)
  * David Lee: Piston (getting external code into your SVN)
  * Carl Woodward: Juggernaut (live updates via JS)
  * Lachie: Hornsby (experienced)
  
  Presos are all max 10 minutes, and afterwards we'll head to Forresters for steak.
  
  RSVP at "Upcoming.org":http://upcoming.org/event/131048/
