-# title: and the licking continues
-# published: 2007-03-06

:textile
  Finally "admitting his licking obsession":http://themaninblue.com/writing/perspective/2007/03/05/, Cam published a blog post on thousands of unsuspecting Javascript kiddies, the effect of which has seen a huge surge in "timwouldlickit.com submissions":http://timwouldlickit.com/gallery/ over the past few days. Andrew even managed to add comments in there too.
  
  My favourites so far, in no particular order:
  
  "!http://timwouldlickit.com/thumbs/212.jpg!":http://timwouldlickit.com/photo.php?id=212 "!http://timwouldlickit.com/thumbs/189.jpg!":http://timwouldlickit.com/photo.php?id=189 "!http://timwouldlickit.com/thumbs/179.jpg!":http://timwouldlickit.com/photo.php?id=179 "!http://timwouldlickit.com/thumbs/175.jpg!":http://timwouldlickit.com/photo.php?id=175 "!http://timwouldlickit.com/thumbs/160.jpg!":http://timwouldlickit.com/photo.php?id=160 "!http://timwouldlickit.com/thumbs/132.jpg!":http://timwouldlickit.com/photo.php?id=132
  
  It's great to be a talking point at international web events; not for something insightful I've said, or for something innovative I've made; but for my tongue.
  
  I'm guessing this will hit the press more seriously whilst the gang, sans me, is over at SXSW (the bastards). Am keenly waiting to see what happens.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_516
      %p.author
        %a{:href => 'http://www.themaninblue.com'} Cameron Adams
      .body
        :textile
          You're pissed off, aren't you? You're pissed off.
          
          Uh-oh, Tim's pissed off.
    %li#comment_517
      %p.author
        %a{:href => 'http://www.standardzilla.com'} Scott G
      .body
        :textile
          I can see the photos in Austin already, "ahhh, that would be great for Tim to lick!".
    %li#comment_518
      %p.author
        %a{:href => 'http://leftjustified.net/'} Andrew K.
      .body
        :textile
          Prior to SXSW I plan to have Atom feeds added to the gallery and comments, a Most Commented list somewhere and perhaps some of the flickr tie-in we discussed last Friday.
          
          
          Glad you lick^H^H^H^H^H like it ;)
