-# title: Announcing RailsCamp07
-# published: 2007-03-20
-# updated: 2007-03-20

:textile
  <strong class="update">News flash:</strong> Spurred by Dan Webb's hesitation in flying over for "RailsCamp07":http://railscamp07.org/, I'm offering free kangaroo burgers and a VB for any international guests. Now's the time for that visit to Sydney you've always wanted.
  
  The rocking "Ben Askins":http://teamaskins.net/, with the help of a bunch of other "RailsAus":http://rubyonrails.com.au/ peeps, has gone and organised the first Rails-barcamp-camp-bush-sleepover-codefes-thingt&#8482;: "RailsCamp07":http://railscamp07.org/!
  
  Railscamp will place 30 people in the middle of the bush, no internet, no supplies, head to head in a match of death. Every 3 hours two people will get voted out. Which unfortunate souls plunge to their death is determined by you, our internet viewers.
  
  uh... sorry... that was the original plan. It's changed a bit since then:
  
  bq. Inspired by Webjam, Bar Camp and the great community of Rails developers that's building around Australia, we want to get the best and brightest (you!) together for a weekend of Rails hacking, knowledge sharing, and fun making.
  
  When you're on the ass-end of the globe you need all the conferency-drinking-learning events you can get. RailsConf? SXSW? Boring!
  
  This is a completely community driven event... the $95 goes straight into the kitty to run the weekend, and if there's any left over it'll be to provide future Rails events in Aus. Oh, and don't forget to hit up your employer--it's "professional development."
  
  This isn't just for hardcore Ruby hackers either; we'll have a good share of newcomers and know-it-alls, so expect some adhoc tutorial sessions on anything you scream loudly about ("teach me about ActiveRecord, NOW!").
  
  So what are you waiting for? Go "check out the details":http://railscamp07.org/ and "register your ass":http://railscamp07.eventwax.com/rails-camp-07/register.
