-# title: Announcing RailsCamp07
-# published: 2007-03-20
-# updated: 2007-03-20

:textile
  <strong class="update">News flash:</strong> Spurred by Dan Webb's hesitation in flying over for "RailsCamp07":http://railscamp07.org/, I'm offering free kangaroo burgers and a VB for any international guests. Now's the time for that visit to Sydney you've always wanted.
  
  The rocking "Ben Askins":http://teamaskins.net/, with the help of a bunch of other "RailsAus":http://rubyonrails.com.au/ peeps, has gone and organised the first Rails-barcamp-camp-bush-sleepover-codefes-thingt&#8482;: "RailsCamp07":http://railscamp07.org/!
  
  Railscamp will place 30 people in the middle of the bush, no internet, no supplies, head to head in a match of death. Every 3 hours two people will get voted out. Which unfortunate souls plunge to their death is determined by you, our internet viewers.
  
  uh... sorry... that was the original plan. It's changed a bit since then:
  
  bq. Inspired by Webjam, Bar Camp and the great community of Rails developers that's building around Australia, we want to get the best and brightest (you!) together for a weekend of Rails hacking, knowledge sharing, and fun making.
  
  When you're on the ass-end of the globe you need all the conferency-drinking-learning events you can get. RailsConf? SXSW? Boring!
  
  This is a completely community driven event... the $95 goes straight into the kitty to run the weekend, and if there's any left over it'll be to provide future Rails events in Aus. Oh, and don't forget to hit up your employer--it's "professional development."
  
  This isn't just for hardcore Ruby hackers either; we'll have a good share of newcomers and know-it-alls, so expect some adhoc tutorial sessions on anything you scream loudly about ("teach me about ActiveRecord, NOW!").
  
  So what are you waiting for? Go "check out the details":http://railscamp07.org/ and "register your ass":http://railscamp07.eventwax.com/rails-camp-07/register.

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_526
      %p.author
        %a{:href => 'http://danwebb.net'} Dan Webb
      .body
        :textile
          Man, that looks fuggin wicked.  Why are you people so far away from everything else in the world? :)
          
          
          Brilliant idea though and good luck with it.  I really wish I could get over for that.  I could do with a few beers and a kangaroo burger while arguing about REST.  (Just reread that sentence and suddered at what's become of me :)
    %li#comment_527
      %p.author
        %a{:href => 'http://drnicwilliams.com'} Dr Nic
      .body
        :textile
          You guys are doing all the fun stuff before I get back. Bah! :)
    %li#comment_528
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Dan: I used to ask that, but I think we've just accepted we gotta do our own cool shiz because you guys aren't comin to us anytime soon. Will promise to cook you that kangaroo burger if you do come though!
          
          Nic: that's the plan! ;) When you getting back?
    %li#comment_529
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Article updated accordingly.
          
          Nic: your international guest status is arguable, but my star-struck self might make an exception.
    %li#comment_530
      %p.author
        %a{:href => 'http://sultanasandwich.com'} James Hill
      .body
        :textile
          there are only so many 24 hour flights I can take a year... 
          
          but maybe for the free VB... 
          
          (there's only so much Stella & Kronenberg one can take before wishing they were back home)
    %li#comment_531
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Craving VB? Now that _is_ some pretty severe home sickness.
    %li#comment_532
      %p.author
        %a{:href => 'http://lachstock.com.au'} Lachlan Hardy
      .body
        :textile
          Dan, I'll throw in a lift to the camp and a case of VB of your very own. Get your arse back to Australia! You know we're more fun, right?
    %li#comment_534
      %p.author
        %a{:href => 'http://www.seoonrails.com/'} Eadz
      .body
        :textile
          Damn, right in exam period ! Was so ready to book my flight.. But I won't know until later when my exams are. Hopefully there are still seats.
