-# title: Anti-Santa
-# published: 2007-12-12

:textile
  "!http://toolmantim.com/images/blog/anti-santa.png(Anti-Santa)!":http://an.tisanta.com/
  
  "What don't you want for Christmas?":http://an.tisanta.com/
