-# title: Anti-Santa
-# published: 2007-12-12

:textile
  "!http://toolmantim.com/images/blog/anti-santa.png(Anti-Santa)!":http://an.tisanta.com/
  
  "What don't you want for Christmas?":http://an.tisanta.com/

#archived-comments
  %h1 Archived Comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_1405
      %p.author
        %a{:href => 'http://lachstock.com.au'} Lachlan Hardy
      .body
        :textile
          Hottness!
