-# title: <span class="caps">AUC</span> Cocoa training course
-# published: 2006-07-05

:textile
  This week and next I'm helping my friend and past research-supervisor "Daniel Woo":http://www.cse.unsw.edu.au/~danielw/ run the "AUC Cocoa Workshop":http://auc.uow.edu.au/index2.html?training/cocoa_wkshop/index.html~mainFrame being held at good 'ol UNSW.
  
  <a href="http://www.flickr.com/photos/toolmantim/182411410/" ><img src="http://static.flickr.com/66/182411410_e1c59eece8_m.jpg" width="180" height="240" alt="The old campus" /></a>
  
  It's great to be working with Daniel again after not having seen him for what feels like 6 months.
  
  The first day of the course seemed to go really well. Mathieu, one the students, was even "blogging it live":http://matdev.blogspot.com/2006/07/cocoa-workshop-day-1.html!
  
  For the eclectic skill set they've brought into the workshop, I was very happy with everybody's interest and speed at which they picked things up. There was a bit of confusion and glazed eyes during the memory management stuff, but that's the nature of the nasty beast I'm afraid. It's something that just clicks once you get developing.
  
  The next few days we move onto the fun stuff... GUI, Cocoa, mouse interactions, winning friends and making money.

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_611
      %p.author
        george Miranda
      .body
        :textile
          I love macintosh products.  I am a newbie in programming trying to learn mac programming.  I wish there were more schools or places to learn macintosh programming.   I am willing to pay for any kind of video or classes on line to learn macintosh programming.
