-# title: Aussie web design hotting up
-# published: 2006-11-13

:textile
  It seems that with the recent change in temperature we've seen a great influx in the offline activity in the web design community in Australia. Cameron "seems to have noticed it":http://www.themaninblue.com/writing/perspective/2006/11/08/ too.
  
  Unfortunately the un-offline (see: online) community (see: blogging) still seems like a fraction of the size of our American and Pommy brethen's, but I'm digging this spate of real-life meetups.
  
  So why so many flesh-meets now? My guess is that either:
  
  # Everybody's in the mood for organised piss-ups.
  # The web dev community has reached as critical mass where people see enough interest to run these events.
  
  The following four events are on my radar as must-attends. 
  
  h3. Geoffrey Grosenbach at RoRA
  
  *November 15, 2006 in Sydney*
  
  The monthly Ruby on Rails meetup in Sydney has Geoffrey Grosenbach (from "topfunky.com":http://topfunky.com fame) attending, with myself and Myles Byrne giving short presos showing ActiveSupport nifties and a meta-presentation demonstrating the marriage of "S5":http://meyerweb.com/eric/tools/s5/ and "Camping":http://code.whytheluckystiff.net/camping/.
  
  h4. When?
  
  Wednesday 15 November 2006 from 6.30pm onwards.
  
  h4. Where?
  
  The University of Technology, Sydney
  Building 10, level 2 (ground floor), room 470. Enter "via Jones Street":http://www.uts.edu.au/about/mapsdirections/images/broadway_3d.gif.
  
  h4. RSVP
  
  Not necessary.
  
  h3. "web-blast 06":http://webblast.org/
  
  *November 30, 2006 in Sydney*
  
  Web-blast is a huge end-of-year party for Sydney's web community - bringing
  together web designers, web project managers, interface designers,
  information architects and other web professionals. Join a range of Sydney's
  web communities and celebrate the end of year in style on Thursday November
  30, 2006.
  
  h4. When?
  
  Thursday 30 November 2006 from 6pm onwards.
  
  h4. Where?
  
  "The Old Fitzroy Hotel, 129 Dowling Street Woolloomooloo":http://webblast.org/#location
  
  h4. RSVP
  
  Necessary via email to "sydney06@webblast.org":mailto:sydney06@webblast.org?subject=RSVP%20for%20web-blast.
  
  h3. "web jam 06":http://webjam.com.au/
  
  *December 12, 2006 in Sydney*
  
  Webjam is going to be a fast paced shoot-out of home-grown innovation where designers, developers, information architects&#8212;really anyone in the web industry&#8212;will get the chance present what they've been working on this year.
  
  The proposition is simple: we provide a laptop, a projector, 3 minutes and a room full of increasingly drunk peers -- you do the rest!
  
  h4. When?
  
  Tuesday 12 December 2006 from 6pm onwards.
  
  h4. Where?
  
  Jam Bar, Level 4, Hotel CBD, Cnr of King and York St, Sydney
  
  h4. RSVP
  
  Not necessary, unless "you wanna present":http://webjam.com.au/register/.
  
  h3. "Melbourne Massive":http://melbournemassive.com/
  
  *December 13, 2006 in Melbourne*
  
  a massive annual end-of-year function that brings together web professionals from around Melbourne. Inspired by the original event that has been running strong in Perth for 5 years, eight of Melbourne's user groups and creative communities will be celebrating the festive season in style.
  
  h4. When?
  
  Wednesday 13 December 2006 from 6pm onwards.
  
  h4. Where?
  
  Horse Bazaar, 397 Little Lonsdale St, Melbourne
  (between Queen St and Elizabeth St, near the corner of Hardware St)
  
  h4. RSVP
  
  Essential and "on da web":http://melbournemassive.com/register/.

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_348
      %p.author
        %a{:href => 'http://www.themaninblue.com'} Cameron Adams
      .body
        :textile
          Dude! hCalendar that shiz up!
    %li#comment_349
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Hasn't somebody made a browser extension to turn un-structured data into semi-structured data and auto-hcard it for me.
    %li#comment_353
      %p.author
        %a{:href => 'http://nickcowie.com'} Nick Cowie
      .body
        :textile
          and if you happen to be in Perth
          <h3><href="http://www.port80.asn.au/forums/viewtopic.php?t=3374">Port80 special general meeting</a></h3>
          <h4>When?</h4>
          <p>28 November 2006 at 6.00pm WST </p>
          <h4>Where?</h4>
          <p>Velvet Lounge
          (next to the Flying Scotsman)
          639 Beaufort Street
          Mount Lawley WA 6005</p>
          <h4>What?</h4>
          <p>The first 30 minutes might be serious association stuff, talking and voting on name changes and other changes to the consitution. After that it will degenerate into the normal drinking and talking about web stuff that Port80 is infamous for.</p>
          <h3><a href="http://www.perthmassive.net/">Perth Massive 2006</a></h3>
          <h4>When?</h4>
          <p>6:00pm, Tuesday, 12th of December 2006</p>
          <h4>Where?</h4>
          <p>The Brass Monkey,
          Corner of William and James St, 
          209 William St, 
          Northbridge, WA 6003</p>
          <h4>What</h4>
          <p>Perth Massive celebrates it's fifth year, for all the details <a href="http://www.perthmassive.net/">www.perthmassive.net</a> .</p>
    %li#comment_356
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Thanks Nick! Seeing how many Perthites were at Web Directions I should have guessed you'd have a few events up your sleeve.
