-# title: Aussie&#8217;s first Rails workshop
-# published: 2006-02-11

:textile
  I think it's time to let the cat out of the bag and announce the "Introduction to Ruby on Rails Workshop":http://aviditybytes.com/ruby_on_rails_workshop_sydney_australia/ that I'll be running in Sydney on the 1st of March to go alongside "webDU":http://www.webdu.com.au/.
  
  This is exciting for me as it's the first rails workshop in Australia, I get to meet all the other Aussie folk who are keen on doing some rails and I get to collaborate with my "pandora mates":http://www.pandorasquared.com/.
  
  On another note it sucks that I won't make it to "RailsConf":http://railsconf.com/ (which is already "sold out!":http://railsconf.com/articles/2006/02/08/railsconf-is-sold-out) or "@media":http://www.vivabit.com/atmedia2006/, but I have a feeling that "SXSW":http://sxsw.com is going to keep me rocking till the end of the year.
