-# title: Blogging for Sitepoint
-# published: 2006-05-24

:textile
  I've just jumped on board with the Melbourne-based "Sitepoint":http://www.sitepoint.com to post on their "Rails blog":http://www.sitepoint.com/blogs/category/ruby-on-rails/, which was "in need of some love":http://www.sitepoint.com/blogs/2006/05/05/using-plugins-in-your-app/#comment-23848.
  
  Any Rails related stuff will be posted over there rather than here (except, of course, for any overly blantant self-promotion), as they've already a large and interested readership.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_175
      %p.author
        zapatista
      .body
        :textile
          If they made it SAGE compatible I'd read it.
    %li#comment_176
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          SAGE?
