-# title: Blog resources for Rails newcomers?
-# published: 2007-07-09

:textile
  I was recently asked:
  
  <blockquote>
  <p>Yesterday, you asked me what Rails blogs I read.  I'd really
  appreciate it if you could give me a quick list of what you consider
  to be good ones.</p>
  <p>Obviously, what's good for you might not be for me, since you have
  serious experience with RoR, but there are so many listed on the wiki,
  so any starting point would be good.</p>
  </blockquote>
  
  With 84 feeds and counting on "Planet RubyOnRails":http://planetrubyonrails.com/, and 266 external links on the "Rails Wiki OtherBlogs page":http://wiki.rubyonrails.com/rails/pages/OtherBlogs, it is no doubt daunting looking for a steady stream of general Rails development news, tips and tidbits. 
  
  I've been staring at the same stuff for way too long, so I'll put it to you:
  
  <em>If you're a recent convert to Rails, where do you get your development news updates?</em>
  
  <em>If you're a long-tooth, have any pointers? If not, grab someone you know who recently picked up Rails and find what they read.</em>

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_684
      %p.author
        %a{:href => 'http://www.3spoken.co.uk'} Neil Wilson
      .body
        :textile
          Much better to use the 'com' version of <a href="http://planetrubyonrails.com">PlanetRubyOnRails</a>
          
          It seems to have more feeds in it.
    %li#comment_685
      %p.author
        %a{:href => 'http://davidbolton.net'} Dave B
      .body
        :textile
          Here are a few good ones I've come across for the new RoR coder:
          
          "railscasts.com":http://railscasts.com
          "peepcode.com":http://peepcode.com
          "railspikes.com":http:/railspikes.com
          "afreshcup.com":http://afreshcup.com
    %li#comment_686
      %p.author
        Geoff Evason
      .body
        :textile
          For anyone who uses netvibes - here is a link to a tab that I use the follows a few useful Rails feeds.
          
          <a href="http://www.netvibes.com/subscribe.php?preconfig=6c20151cae504b669ddcd8037ae7f5c5">
          http://www.netvibes.com/subscribe.php?preconfig=6c20151cae504b669ddcd8037ae7f5c5</a>
    %li#comment_690
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          @Neil: Thanks, my mistake. Article updated.
          
          @Dave & Geoff: thanks for sharing!
    %li#comment_693
      %p.author
        %a{:href => 'http://drnicwilliams.com'} Dr Nic
      .body
        :textile
          The challenge of blogs is that newbie Railers write articles for newbies - all the little beginners quirks they found.
          
          But newbie blogs are hard to find as the blogger probably doesn't know about RubyCorner (another aggregator).
          
          And then, a newbie rails blogger is probably blogging about his old stuff at the same time; so no one will want to subscribe.
          
          Sorry, don't have a solution; just thought I'd dump more problems on you :)
    %li#comment_697
      %p.author
        %a{:href => 'http://www.rexchung.com'} Rex
      .body
        :textile
          I like <a href="http://rubylicio.us/">rubylicious</a>
