-# title: Blog resources for Rails newcomers?
-# published: 2007-07-09

:textile
  I was recently asked:
  
  <blockquote>
  <p>Yesterday, you asked me what Rails blogs I read.  I'd really
  appreciate it if you could give me a quick list of what you consider
  to be good ones.</p>
  <p>Obviously, what's good for you might not be for me, since you have
  serious experience with RoR, but there are so many listed on the wiki,
  so any starting point would be good.</p>
  </blockquote>
  
  With 84 feeds and counting on "Planet RubyOnRails":http://planetrubyonrails.com/, and 266 external links on the "Rails Wiki OtherBlogs page":http://wiki.rubyonrails.com/rails/pages/OtherBlogs, it is no doubt daunting looking for a steady stream of general Rails development news, tips and tidbits. 
  
  I've been staring at the same stuff for way too long, so I'll put it to you:
  
  <em>If you're a recent convert to Rails, where do you get your development news updates?</em>
  
  <em>If you're a long-tooth, have any pointers? If not, grab someone you know who recently picked up Rails and find what they read.</em>
