-# title: Bureau of Metereology Redesigns
-# published: 2006-06-02

:textile
  Anyone who's had to check the weather at the Australian Bureau of Metereology's website knows that this was a somewhat tedious process.
  
  If you wanted to find, say, the forecast for Sydney, you'd have to find Sydney on the map, of which the link takes you to the "New South Wales Weather Warnings":http://www.bom.gov.au/weather/nsw/ page, where you then have to search for the link that says "Sydney Forecast":http://www.bom.gov.au/cgi-bin/wrap_fwo.pl?IDN10064.txt, which then takes you to a lovely plain text description of the weather. ugh!
  
  Well gladly for us, they've done a "full redesign":http://www.bom.gov.au/, and it rocks!
  
  I'd always guessed their most viewed pages were the forecasts for the major cities, and sure enough, there they are smack bang in the middle. A huge improvement in usability! It's obvious a fair bit of thought has been put into these latest changes.
  
  A few other things to notice:
  * The homepage validates as HTML 4.01 transitional
  * The main body of the page is, for the most part, marked up with semantic html
  
  Great work BOM(Bureau of Meteorology)!
  
  If anybody has noticed other Australian government department redesigns and improvements I'd love to know.
  
  I was speaking to "Maxine":http://wd06.com and she mentioned how pleasantly surprised they were at the number of government departments that attended Web Essentials in 2004.
  
  It seems Aussie government departments are really switched on, sending not only individuals but _groups_ of their web teams to both the conferences _and_ the workshops.
  
  With "this year's program":http://www.webdirections.org/program/ and "the 4 workshops":http://www.webdirections.org/about-the-workshops/ I can't wait to see the effect it will have over Australia's position on the web over the coming few years.
  
  ...and don't forget "Snow Web 06":http://snoweb06.com/ is closely approaching. There's a few beds left in the chalet's we've booked, so unless you want to organise your own accommodation I suggest you get in touch ASAP.
