-# title: Calling all Aussie web folk: Snow Web 06
-# published: 2006-05-30

:textile
  "!http://www.toolmantim.com/images/blog/snoweb06.jpg(Snow Web 06)!":http://snoweb06.com/
  
  John Allsopp has just announced "Snow Web 06":http://snoweb06.com/, our own barcamp/party/conference at Perisher Blue July 28-30 2006.
  
  Shenigans to look forward to:
  * Snowboarding
  * Drinking mixed with geek talk (think webapps, web2.0, Ajax, CSS layouts, business models, RSS, whatever!)
  
  Is that not enough for you? Feel free to organise your own events too. The whole thing is loosely structured--participation is a requirement!
  
  If you're an Aussie working in the online world you'd be crazy to miss it.
  
  For more info go check out "http://snoweb06.com/":http://snoweb06.com/, and don't forget to subscribe to the two RSS feeds.
