-# title: Cap deploy via <span class="caps">SCP</span>
-# published: 2007-11-20

:textile
  Using a code revision system your deployment host doesn't support? Use Capistrano's <code>copy</code> deployment strategy:
  
  <pre><code class="ruby">
  set :deploy_via, :copy
  
  # and if you don't feel like putting your source code
  # in /tmp on a shared host
  set :copy_remote_dir, "/home/\#{user}/tmp"
  </code></pre>
  
  Capistrano will checkout your project locally, zip it up and scp it to the releases directory on the deployment host.
  
  Now you can tell your host to "git":http://git.or.cz/ farked (though no promises they won't nuke your all your data, "BOFH":http://members.iinet.net.au/~bofh/ style)
