-# title: Comment spam and my OpenPublish presentation
-# published: 2006-07-31

:textile
  There's been a bit of comment spam on here lately. Previously I was checking for certain keywords and how many URLs were specified in the body, but I've just replaced that with "Akismet":http://akismet.com/ integration, thanks to <a href=":http://www.gavcooney.com/">Gav</a>'s whinging that my comments feed has been spamalicious as of late. 
  
  Registering for and integrating Akismet, giving it a quick test and redeploying toolmantim.com took a whole 31 minutes. How's that for RAD(Rapid Application Development)! I stole the Akismet Ruby API from "typo's version of David Czarnecki's @Akismet@ class":http://www.typosphere.org/trac/browser/trunk/vendor/akismet/akismet.rb. Thanks Tobi and David!
  
  Last Thursday I gave a talk at "OpenPublish":http://openpublish.com.au/, "Putting content in user's hands," where I tried to ask what ideas, techniques and tools from the Web 2.0 community can we look at repurposing for non-web apps (i.e. large content-driven sites). If you want to check it out I've added the PDF to the "aviditybytes resources page":http://aviditybytes.com/resources.
