-# title: Comment spammers currently at zero
-# published: 2007-12-03

:textile
  About a month ago I switched to a javascript-only comment system and haven't had a single spam comment since.
  
  The new approach to allowing comments here is:
  
  # Require all comment submissions to be accompanied by a token specific to that article.
  # Remove the comment form from the article page.
  # Some unobtrusive javascript to replace the "To comment on this article you must have javascript enabled" paragraph with a "Add a comment" link which fetches the comment form via XHR and spits it into the DOM.
  
  It's not full-proof, but you'd have to do an extra HTTP request for each article as well as a bit of custom parsing code to pull out the token.
  
  Seems to be working ok for now. I should shoot a link over to my friend "Scenario Girl":http://scenariogirl.com/ to see how it fairs with a screen-reader etc.
