-# title: Core Animation Menu Application sample code
-# published: 2007-12-01

:textile
  It seems Apple's "Core Animation Menu Application":http://developer.apple.com/documentation/Cocoa/Conceptual/CoreAnimation_guide/Articles/Headstart.html example app doesn't come with a source code package and is littered with typos. I've fixed the typos and packaged it up here for people wanting to test it out and have a play.
  
  Check out "the result":http://developer.apple.com/documentation/Cocoa/Conceptual/CoreAnimation_guide/Articles/art/anim_menuscreenshot.mp4 from setting up a few layers and animations in Cocoa with Quartz and Core Animation.
  
  * "Compiled app":http://toolmantim.com/files/cocoa/CoreAnimationMenu.app.zip (10.5 only)
  * "Xcode 3.0 project with source code":http://toolmantim.com/files/cocoa/CoreAnimationMenu.zip
  

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_1369
      %p.author
        Grateful coder
      .body
        :textile
          Thanks!!
    %li#comment_1482
      %p.author
        David
      .body
        :textile
          Thanks again!!!
    %li#comment_1494
      %p.author
        a sunday coder
      .body
        :textile
          Thanks ! 
          Exactly what I wanted : just a code ready to play with.
    %li#comment_1536
      %p.author
        %a{:href => 'http://notahat.com/'} Pete Yandell
      .body
        :textile
          You're a star, Tim!
