-# title: DropShots
-# published: 2007-11-02

:textile
  It's pre-coffee on a Saturday morning and I've just received this lovely piece of PR 2.0 crap so I thought I'd do them a favour and add some balanced opinions to the google results for DropShots, a craptaculous online photo sharing site.
  
  <blockquote>Hello Tim!
  
  I remember enjoying your article - "http://toolmantim.com/article/2007/8/14/new_flickr_set_sms_notifications":http://toolmantim.com/article/2007/8/14/new_flickr_set_sms_notifications for Toolmantim on 08/15/2007. Since you write about photo/video sharing and online media I thought this press release would be particularly interesting to you…
  
  DropShots' New Platform is the Fastest and Most Dynamic Photo and ...
  SAN DIEGO , Oct. 9 /PRNewswire/ -- Rebuilt from the ground up, the new DropShots platform was built for speed and dynamic performance. DropShots has become...
  
  This is a great company doing some pretty amazing things online. If you would like to learn more, here are a couple of places to see the service and platform:
  
  http://www.dropshots.com<br/>
  http://www.dropshots.com/MooreFamily<br/>
  http://www.dropshots.com/tpond
  
  Let me know how I can help you write a great article about this service and technology.
  
  Thanks Tim!
  
  Blake Prescott
  Public Relations
  
  </blockquote>
  
  Thankyou Mr Blake Prescott, Public Relations Jedi. You have indeed helped me to write this great article about DropShots and it's brain-dead marketing and PR campaign (otherwise known as spam) for one of the ugliest and clunkiest online photo sharing sites available: DropShots.
