-# title: First rails-oceania gem released: goto_string
-# published: 2007-07-23

:textile
  "Max Muermann":http://faces.rubyonrails.com.au/users/8 has just released the first gem in the "Rails-oceania RubyForge project":http://rubyforge.org/projects/rails-oceania/: "goto_string":http://synaphy.com.au/2007/7/23/goto_string-gem-released, for TextMate-style substring matching. You can see it in action in his "What's Next App":http://whatsnextapp.com/.
