-# title: Flexible contracting work available
-# published: 2006-10-23

:textile
  Wanting to spend time on my own projects has made me unavailable for some of my more regular work, and we're looking for someone who can fill the void and do some regular on-site coding here in the Sydney CBD.
  
  There are a number of roles available, so if you've any experience with the following (in no particular) email a resume to mark@lynchconsulting.com.au
  * Coldfusion
  * PHP
  * MySQL
  * "Farcry":http://farcrycms.org
  * HTML
  * CSS
  * Flash - designers and coders
  * Flex
  * Subversion or other version control
  
  I'm personally interested in hearing from anybody with Coldfusion and XHTML+CSS experience (Farcry exp a big bonus).
  
  See "the post on the Lynch Consulting blog":http://www.lynchconsulting.com.au/blog/index.cfm/2006/10/18/Flexible-contracting-work-available for more info.
