-# title: For the love of Gates!
-# published: 2006-02-14

:textile
  How anybody enjoys programming Rails on a Windows machine beffudles me.
  
  We're doing the "Rails workshop":http://aviditybytes.com/ruby_on_rails_workshop_sydney_australia on Windows laptops (you're free to bring your own Mac though) and after finalising the Rails workshop course material, damn... I dunno how some guys do it.
  
  Finding a free, decent Ruby editor was hard enough (I ended up settling with the sluggish but decent "radrails":http://www.radrails.org/) and for lack of a better (and free) choice the "official MySQL query browser":http://www.mysql.com/products/tools/query-browser/ (easy and intuitive my ass).
  
  The biggest downer though is the windows command prompt.
  
  Is there a good replacement for the standard command prompt? I'm not talking "cygwin":http://www.cygwin.com/, but more like a windows-based "bash":http://www.gnu.org/software/bash/bash.html or something.
  
  Interested in what we'll be building? Here's a sneak peek:
  
  "!http://static.flickr.com/26/99667506_c01890eebc_m.jpg!":http://www.flickr.com/photos/toolmantim/99667506/in/pool-webdu_rails_workshop/

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_68
      %p.author
        grant
      .body
        :textile
          why not cygwin? use bash and rxvt for a proper terminal, works fine right?
          
          the workshop won't be much fun without it :]
    %li#comment_69
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          thanks grant.
          
          i did start to install cygwin (that's what i used to use in windows days) but it was quite a hefty base install and I thought maybe someone had made a sweet and minimalist shell/prompt I wasn't aware of.
          
          cygwin it may have to be.
