-# title: Geek Trivia Night in Sydney
-# published: 2007-07-29

:textile
  bq. Know who invented the Internet?
  
  Homer simpson.
  
  bq. Any ideas what WWW stands for?
  
  Wombats Working Wonders (you _do_ know they power Australia's internet, right?)
  
  bq. Clued up on who the first blogger was?
  
  Mr T?
  
  Web Dir's announced a "Geek Trivia night":http://www.webdirections.org/2007/07/22/geek-trivia-night/ on August 9. Free food, drinks and prizes. Do I need to say more? Come join me and a bunch of other notorious geeks. All the deets on the "official announcement":http://www.webdirections.org/2007/07/22/geek-trivia-night/.

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_757
      %p.author
        %a{:href => 'http://arjaneising.nl'} Arjan Eising
      .body
        :textile
          I would like to, but it's on the other side of the planet xD
