-# title: Geekery catchup
-# published: 2008-12-02
-# updated: 2008-12-02

:textile
  It's been a busy few months.
  
  September saw "Web Directions":http://www.webdirections.org/ where I gave a preso with "Pete Ottery":http://www.c41.com.au/ on "Developing for the iPhone":http://www.slideshare.net/toolmantim/developing-for-iphone-presentation as well as "Webjam 8":http://webjam.com/webjam8.
  
  November saw "Edge of Web":http://www.edgeoftheweb.org.au/ in Perth where "I presented again on the iPhone":http://www.slideshare.net/toolmantim/developing-for-the-iphone-presentation, though this time without Pete, as well as "Webjam 9":http://webjam.com.au/webjam9 in Perth Western Australia, after which I flew direct to "Railscamp":http://railscamps.com/ in Adelaide for a "weekend of drunken hacking":http://flickr.com/photos/toolmantim/sets/72157609406563810/.
  
  Now with all that behind me (bar fellow "AR":http://agencyrainford.com/ Mike's "presentation on Story Driven Web Development":http://www.osdc.com.au/2008/papers/index.html at "OSDC":http://www.osdc.com.au/ on Thursday) and "Carla's new website":http://hellotherecanary.com/ having launched this morning I'm finally able get back to a semi-sane lifestyle and at least post my presentations and thoughts from all this geekery.
  
  h2. Web Directions 2008
  
  "!http://farm4.static.flickr.com/3112/2890118028_b7e822fae2.jpg(Pete and Tim)!":http://flickr.com/photos/roguemm/2890118028/
  
  Unfortunately "Cameron":http://themaninblue.com/ and I didn't do our usual last-minute-social-network-hackfest for the conference attendees because I was peaking out about my presentation and I was busy building something else.
  
  After the conference organisers vowed to get a penny out of me for attending this year they came back begging, asking Pete and I to present on "something iphone" seeing as we'd recently launched "iphone.news.com.au":http://iphone.news.com.au/.
  
  Having only built iphone.news.com.au and having to make many-a-compromise I felt a little under-experienced to be talking best-practice, and also slightly hypocritical in saying "do as I say not as I do" so I set out to design and build another app from scratch.
  
  "!(thumb)http://cdn.slideshare.net/wd-iphone-combined-for-slideshare-1222737902765562-8-thumbnail?1224420241(Presentation slides)!":http://www.slideshare.net/toolmantim/developing-for-iphone-presentation
  
  I was intending on building my own iphone JS framework with a design that I actually agreed with but ended up concluding that all that front-end framework junk is a total waste of time unless you're prototyping native iphone applications (for more explanation see my "Edge of the Web preso":http://www.slideshare.net/toolmantim/developing-for-the-iphone-presentation).
  
  I needed to build an iphone version of a site that already existed, was somewhat-interesting and that I had complete creative control over--"the Webjam site":http://webjam.com.au/ was the obvious candidate.
  
  If you browse to the webjam website on your iphone or ipod touch, or browse on your desktop to "webjam.com.au/home.mobile":http://webjam.com.au/, you'll see what I built: simple handset-agnostic styling, fat-finger-friendly links, context-sensitive cross-linking between regular and mobile site, non-obstrusive JS photo browsing and other bits and pieces.
  
  The presentation I gave was the first half of a two-part preso. You can find "the slides complete with audio on Slideshare":http://www.slideshare.net/toolmantim/developing-for-iphone-presentation.
  
  h2. Webjam 8
  
  "!http://farm4.static.flickr.com/3029/2898729610_9a47e50b85.jpg(Webjam 9 - Bar Broadway - Sydney)!":http://www.flickr.com/photos/charliebrewer/2898729610/
  
  After the post-conference drinks on the final night of the conference we had our first "Webjam":http://webjam.com.au/ for almost exactly a year. 
  
  Mad props to "Lincoln":http://lstoll.net/, "Lachlan":http://lachstock.com.au/, "Lisa":http://scenariogirl.com/ and everyone else who pitched in to the site (which FYI can be found at "github.com/webjam/webjam":http://github.com/webjam/webjam).
  
  I ran the SMS voting as per usual (thanks to "DirectSMS":https://www.directsms.com.au/ hooking us up again with a number) and we had "19 awesome presos":http://webjam.com.au/news/2008/webjam8-mixes-it-up.
  
  Good times.
  
  h2. Edge of the Web
  
  "Another conference":http://www.edgeoftheweb.org.au/, another presentation... very similar to the Web Directions one but much more focused and I think I came across much clearer. It was an almost completely new presentation with a bit more of a balanced view.
  
  If you're developing a mobile or iphone version of an existing site I highly recommend having a squiz at "my presentation":http://www.slideshare.net/toolmantim/developing-for-the-iphone-presentation/.
  
  I was pretty impressed with what they pulled off for a first-time conference, though it would have been good to have a bit more of a specific angle on the whole event... a "rubyfringe":http://rubyfringe.com/ style event: webfringe?
  
  h2. Webjam 9
  
  "!http://farm4.static.flickr.com/3189/3025213360_40d026b745.jpg(Web Jam 9: working the room)!":http://flickr.com/photos/kaysmoljak/3025213360/
  
  From zero webjams in 12 months to two webjams in two months -- "Webjam 9":http://webjam.com.au/webjam9 went off without a hitch in a mad old uni bar with some really good presos (including Darcy's very cool "Ruby-powered twitter to IRC bridge":http://blog.ninjahideout.com/posts/the-laughing-bird).
  
  h2. Railscamp 4
  
  <a href="http://www.flickr.com/photos/toolmantim/3042078715/" title="Mad scientist by toolmantim, on Flickr"><img src="http://farm4.static.flickr.com/3195/3042078715_2a4ec9ec3e.jpg" width="500" height="333" alt="Mad scientist" /></a>
  
  All the required Railscamp ingredients: a weekend away w/o internet, a case of pale ale, a 12-pack of rum & coke, 70 or so peeps with 60 or so mac lappies, a shite-load of "gitjour":http://github.com/benschwarz/gitjour/tree/master.
  
  Ryan, the most awesome host, did "a write  of what goes into running an event like this":http://frozenplague.net/2008/11/railscamp-4/ and "the railscamp4 flickr tag":http://flickr.com/photos/tags/railscamp4 will give you a good idea of how awesome it was.
  
  Of course the logical thing after all this was to do a straight 20hr drive home with 5 people in a tiny car:
  
  <a href="http://www.flickr.com/photos/toolmantim/3045342238/" title="Band of Brothers or Band of Fools? by toolmantim, on Flickr"><img src="http://farm4.static.flickr.com/3224/3045342238_08d64b84db.jpg" width="500" height="333" alt="Band of Brothers or Band of Fools?" /></a>
  
  h2. and finally... Agency Rainford
  
  This year has been a bit of whirlwind and I haven't had a chance to announce to the world what Michael and I are building over here.
  
  Michael and I formed "Agency Rainford":http://agencyrainford.com/ earlier this year in an effort to be a bit smarter about our development work, chomp off larger projects involving many of the great people we know in the ozzie web and Ruby community and to take projects on from start-to-finish rather than just as hired guns for development.
  
  Both Mike and I had previously loved working on "Cultural Awards 2008":http://culturalawards2008.lgsa.org.au/ and other such projects where a small team of designers and developers own the problem from start-to-finish: everything from finding requirements, conceptual design, visual design and build.
  
  "!http://farm4.static.flickr.com/3078/2786126424_8809c5194f.jpg(The AR Stamp)!":http://flickr.com/photos/cood/2786126424/
  
  We knew this ninja-team approach worked really well and after an opportunity to help "Pearson Education Australia":http://www.pearsoned.com.au/ bring their textbooks to the United Arabs Emirates we got the ball rolling, hired Carla to do "a most-awesome brand":http://hellotherecanary.com/portfolio/agency-rainford-branding/, I finished up with "vtalk":http://vtalk.net/, we gathered "some great guys":http://flickr.com/photos/toolmantim/2717866289/ and worked our asses off to deliver an app for Pearson in a crazy-short amount of time.
  
  Now we're starting the Aussie version for Pearson with a new team and a new approach to the problem, and alongside this we're busy figuring out the process of scaling the AR ninja-team approach to larger projects.
  
  Next year we're keen to start looking at some office space where we can get a great bunch of people together (anybody got a chunk of decent space in Surry Hills suitable for 8 or so desks and "Jelly's":http://workatjelly.com/ every fornight?) and then "SXSW":http://sxsw.com/ in March with a 7 day road trip afterwards.
  
  ...and our website sometime soon too.

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_1556
      %p.author
        %a{:href => 'http://www.yob.id.au'} James Healy
      .body
        :textile
          Interesting. My day job is in the book industry, and the company I work for does some business with Pearson.
          
          Looking forward to seeing what you do with their site.
    %li#comment_1557
      %p.author
        %a{:href => 'http://hughevans.net'} Hugh
      .body
        :textile
          Yeah its interesting, we do some work with Pearson as well. I'm off to see them in Minneapolis again in January. Minus 20 degrees C, should be fun :/
          
          Carla's design work is sensational BTW :)
    %li#comment_1558
      %p.author
        Pete Ottery
      .body
        :textile
          was great to see you work your way thru the whole 'how to approach iphone dev'  question. 
          
          and best of luck with the whole agency rainford thing. not that you'll need it ;-)
