-# title: Handling 404s in your Rails app
-# published: 2006-08-30

:textile
  "Being a good little 404er":http://www.sitepoint.com/blogs/2006/08/30/being-a-good-little-404er/, brought to you by the Organic Cross-Posting Robot
