-# title: How to start building a website for your business
-# published: 2008-12-26

:textile
  Having recently worked on "Hello Canary":http://hell,otherecanary.com/ and the yet-to-be-launched "Agency Rainford":http://agencyrainford.com/ and "Number House":http://numberhouse.com.au/ sites I wanted to jot down my ideas for how you should start to approach building a brochure-style site for your own business.
  
  The purpose is to provide a first-step in thinking about your site from a user-centred frame of mind.
  
  This is very much a first draft so feel free to tear it apart, leave comments and send patches:
  
  *"How to build a website":http://gist.github.com/40002*
