-# title: How to output <span class="caps">JSON</span>-P with Rails
-# published: 2006-10-05

:textile
  A new article over at Sitepoint: <a href="http://www.sitepoint.com/blogs/2006/10/05/json-p-output-with-rails/">JSON-P output with Rails</a>
