-# title: I can has faces <span class="caps">API</span>
-# published: 2007-08-03

:textile
  <a href="http://faces.rubyonrails.com.au/users/1">Lachie</a>'s "faces app":http://faces.rubyonrails.com.au/ has just been blessed with an API:
  
  "http://faces.rubyonrails.com.au/users.xml":http://faces.rubyonrails.com.au/users.xml<br/>
  "http://faces.rubyonrails.com.au/users.json":http://faces.rubyonrails.com.au/users.json<br/>
  "http://faces.rubyonrails.com.au/users/1.xml":http://faces.rubyonrails.com.au/users/1.xml<br/>
  "http://faces.rubyonrails.com.au/users/1.json":http://faces.rubyonrails.com.au/users/1.json<br/>
  "http://faces.rubyonrails.com.au/thankyous.xml":http://faces.rubyonrails.com.au/thankyous.xml<br/>
  "http://faces.rubyonrails.com.au/thankyous.json":http://faces.rubyonrails.com.au/thankyous.json<br/>
  
  and with json callbacky goodness (thanks to drnic):
  
  "http://faces.rubyonrails.com.au/users.json?callback=processUsers":http://faces.rubyonrails.com.au/users.json?callback=processUsers
  
  Bring on the mashups!
