-# title: ical feed in 5 minutes
-# published: 2007-04-28

:textile
  The "gigs page":http://toolmantim.com/gigs received a small upgrade yesterday: an ical subscription feed. The nice part was, it took all of five minutes and a few simple template changes thanks to "hcal":http://microformats.org/wiki/hcalendar and "technorati's automagical hcal to ical converter doovawacky":http://technorati.com/events/.
