-# title: Idol Jamming
-# published: 2007-03-01

:textile
  <a href="http://www.flickr.com/photos/toolmantim/406108077/"><img src="http://farm1.static.flickr.com/179/406108077_0dc6466945_m.jpg" width="240" height="160" alt="Idol Jamming" /></a>
  
  Last night's "WebJam":http://webjam.com.au was awesome. "Andre's robot dancing":http://flickr.com/photos/charliebrewer/406694311/in/pool-webjam/, "Web sequins":http://flickr.com/photos/charliebrewer/406693024/in/pool-webjam/, "ActionScripting Arses":http://flickr.com/photos/charliebrewer/406692917/in/pool-webjam/, "Making enemies":http://toolmantim.com/article/2007/3/1/timwouldlickit_com and "Cam's":http://themaninblue.com funky "animated SVG blob visualisation":http://flickr.com/photos/charliebrewer/406696216/in/pool-webjam/ (better link to come) were my faves.
  
  My 3 min preso was on last WebJam's SMS voting system, which went down alright--I won 3rd prize! (though what the hell do I do with a copy of Microsoft Expression for the Web??). You can grab "the PDF of my Idol Jamming preso":http://www.toolmantim.com/files/presentations/2007_03_01_Webjam_Idol_Jamming/Tim%20Lucas%20-%20Idol%20Jamming.pdf (1.8MB), but you will miss out on the quicktime videos of the voting etc.
  
  Thanks to Anson and Lacho for creating and organising such a kick-ass event. I've put my hand up to fill Anson's shoes after he jetsets to SF in a few weeks, helping run upcoming webjams and helping out with the site if need be. 
  
  There's a bottomless well of great talent and demos to draw on--look forward to the next WebJam in 07.
