-# title: I'm a little teapot
-# published: 2009-01-15

:textile
  Like any good standards-based teapot "toolmantim.com":http://toolmantim.com/ is now compliant with "Section 2.3.2":http://tools.ietf.org/html/rfc2324#section-2.3.2 of RFC2324: the Hyper Text Coffee Pot Control Protocol (HTCPCP/1.0).
  
  You too can be a good teapot citizen thanks to a ruby gem so fresh out of the oven it'll burn your fingers: "teapot":http://github.com/toolmantim/teapot/ -- a new piece of innvoative "Rack":http://rack.rubyforge.org/ middleware technology enabling you to do such feats as:
  
  <pre><code class="shell">
  $ curl -i -X BREW toolmantim.com
  HTTP/1.1 418 I'm a teapot
  Date: Thu, 15 Jan 2009 13:31:30 GMT
  Server: Apache
  Vary: User-Agent
  Content-Length: 36
  Content-Type: text/plain; charset=UTF-8
  
  Care for a cup of English Breakfast?
  </pre></code>

  Alternative Ruby teapot implementations of RFC3224 include "a patch to Rails":http://rails.lighthouseapp.com/projects/8994/tickets/1556 by "Chris Lloyd":http://chrislloyd.com.au/ and the "acts_as_teapot plugin":http://github.com/harukizaemon/acts_as_teapot by "Simon Harris":http://www.redhillconsulting.com.au/blogs/simon/.

  Those wanting a more short and stout implementation are advised to architect their own solutions. Frankly I think it's much more polite to offer a cup of tea than waving your arms about like a flaming galah.

  See the "readme on github":http://github.com/toolmantim/teapot/ for installation instructions.
