-# title: Installing and managing edge Rails
-# published: 2006-07-10

:textile
  My New Zealand buddy and recent Rails convert "Eaden":http://www.eadz.co.nz/ asked if I could blog about how to use Edge Rails... so here you go mate: "everything you wanted to know about installing and managing edge Rails":http://www.sitepoint.com/blogs/2006/07/11/installing-and-managing-edge-rails/.
