-# title: Installing Django on <span class="caps">OSX</span>
-# published: 2006-05-31

:textile
  Whilst "Django":http://www.djangoproject.com/ is checking out of SVN I'll give you a quick checklist to get it up and running on OSX.
  
  # Install "MySQL":http://dev.mysql.com/downloads/mysql/5.0.html#Mac_OS_X
  # Install "darwinports":http://darwinports.opendarwin.org/getdp/
  # @$ sudo port install subversion@
  # @$ sudo port install python24@
  # Add @/opt/local/bin:/opt/local/sbin:/usr/local/mysql/bin@ to your path (before $PATH so as to use Python 2.4)
  # Download and extract "mysql-python bindings":http://sourceforge.net/projects/mysql-python
  # Change dir into the extracted mysql-python
  # @$ python setup.py build@
  # @$ sudo python setup.py install@
  # @$ mkdir ~/django@
  # @$ svn co http://code.djangoproject.com/svn/django/trunk/ ~/django/django_src@
  # Add @$HOME/django/django_src/django/bin@ to your path
  # Add @export PYTHONPATH=$PYTHONPATH:$HOME/django/django_src:$HOME/django/django_projects@ to your .profile
  
  And there you have it:
  
  <pre><code>
  $ django-admin.py
  usage: django-admin.py action [options]
  actions:
    adminindex [appname ...]
      Prints the admin-index template snippet for the given app name(s).
  ...
  </code></pre>
  
  Instead of placing it in @~/django@ you could have put it somewhere nicer, like @/usr/local/django@, but I thought I'd keep it consistent with "Jeff Croft's article on setting up DJango on dreamhost":http://www2.jeffcroft.com/2006/may/11/django-dreamhost/.
