-# title: Interviewed on the Rails podcast
-# published: 2007-01-30

:textile
  I'm a week late in mentioning it (I've been enjoying my new job and a long weekend in Melbourne) but whilst "Geoffrey Grosenbach":http://nubyonrails.com/ (aka "topfunky":http://topfunky.com/) was in Sydney last year running his workshop he interviewed me for the "Rails podcast":http://podcast.rubyonrails.org/, which has finally "gone live":http://podcast.rubyonrails.org/programs/1/episodes/tim_lucas.
  
  We covered a bit about "REST":http://en.wikipedia.org/wiki/REST, "web connections":http://connections.webdirections.org, the Rails community here in Sydney as well as Australia vs New Zealand in the Ruby-stakes.
  
  Thanks to Geoff for the opportunity to have a yarn. I was hoping to head up to Seattle via Vancouver for "WDN":https://secure.webdirections.org/wdn07/aff/wdnttim but that will have to wait as it's approaching crunch time for a few projects I'm working on here (exciting details to come!).
  
  Until next time, gadget.
