-# title: Javascriptin like a rock star
-# published: 2006-03-09

:textile
  It seems to be party-like-there-aint-never-been-Javascript week.
  
  Firstly there was the ALA article "Getting Started With Ajax":http://alistapart.com/articles/gettingstartedwithajax.
  
  ...and the release of "Cam's":http://themaininblue.com new book: "The Javascript Anthology":http://www.sitepoint.com/books/jsant1/.
  
  ...and Simon Willison's "(Re)Introduction to Javascript":http://simon.incutio.com/archive/2006/03/07/etech preso
  
  ...and Adobe's release of a "flex-javascript bridge":http://labs.macromedia.com/wiki/index.php/Flex_Framework:FABridge
  
  ...and now the Laszlo guys have created an "in-browser Javascript runtime for Laszlo apps":http://weblog.openlaszlo.org/archives/2006/03/openlaszlo-goes-dhtml/.
  
  Wouldn't be a bad time to be a javascript developer I reckon.
