-# title: Jelly in Sydney
-# published: 2007-10-23

:textile
  "!http://toolmantim.com/images/blog/jelly3-bw.jpg!":http://workatjelly.com
  
  That's right... us "Nerf Palace":http://nerfpalace.org folk are starting up regular "Jelly in Sydney":http://wiki.workatjelly.com/JellyInSydney work-together events.
  
  If you want somewhere different to work every few weeks, maybe even collaborate with one of us or a friend on some random side-project, join the "jelly @ nerfpalace google group":http://groups.google.com/group/jelly-nerf-palace/ to keep up-to-date for work-together days. Even better: put your name down to come along to "the first Jelly in Sydney  this Friday":http://wiki.workatjelly.com/JellySydneyOct262007.
