-# title: <span class="caps">JSON</span>-P at RoRA
-# published: 2006-10-26

:textile
  Last night I gave a preso on "JSON-P":http://www.technorati.com/tags/jsonp at the monthly Ruby on Rails Australia meet up held at the "Digital Wranglers":http://www.wranglers.com.au/ HQ.
  
  <a href="http://www.flickr.com/photos/toolmantim/279467232/"><img src="http://static.flickr.com/93/279467232_f1afed1a5f_m.jpg" width="180" height="240" alt="Jason-P" /></a>
  
  Run, don't walk, to grab:
  * the "PDF of the presentation":http://toolmantim.com/files/presentations/2006_10_15_RoRA_JSON-P/RoRA_JSON-P_Talk.pdf, 326KB
  * the "zip of the keynote 2 presentation":http://toolmantim.com/files/presentations/2006_10_15_RoRA_JSON-P/RoRA_JSON-P_Talk.zip, 2.8MB (released under Creative Commons 2.5 Attribution license)
  * and, the "PSD of Jason Crane's head":http://toolmantim.com/files/presentations/2006_10_15_RoRA_JSON-P/Jason-Crane-Head.psd, 326KB (tag photos with "Jason Padding")
