-# title: Keeping the keys to your OpenID identity using delegation
-# published: 2007-12-20

:textile
  Recently I've heard criticism of "OpenID":http://openid.net/ to the tune of:
  
  <blockquote cite="http://twitter.com/rotassator/statuses/516006582"><p>I still haven't heard a decent explanation of why I should trust ClaimID et al with my online identity. :/</p><p>"--Steve's tweet":http://twitter.com/rotassator/statuses/516006582</p></blockquote>
  
  If you use "OpenID delegation":http://simonwillison.net/2006/Dec/19/openid/ you don't have to trust your OpenID provider with your online identity. If you look at the source code to this page you'll see I have the following snippet in the head tag:
  
  <pre><code><link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://toolmantim.myopenid.com" /></code></pre>
  
  This allows me to use @http://toolmantim.com@ as my OpenID identifier everywhere. Everytime my web apps needs to authenticate me they will check @http://toolmantim.com@ and go through the delegate to perform the authentication.
  
  If you decide you don't trust, say, ClaimID anymore or their site goes down (which *does* happen), you simply update your site template to point to your preferred OpenID provider.
  
  The huge caveat with OpenID delegation is that you're moving the trust issue onto your own site. Do you trust the security of your own site enough to let it hold the keys to your entire web identity? If somebody manages to change the source code of your site, or poses as your site to a particular web application (aka a "man in the middle attack":http://en.wikipedia.org/wiki/Man-in-the-middle_attack), then they can route the delegation somewhere else and authenticate as you.
