-# title: Lachie&#8217;s hax day
-# published: 2007-07-23

:textile
  Unfortunately I can't be there as I'll be in Perth for the "WA Web Awards":http://wawebawards.com.au but "Lachie Cox":http://faces.rubyonrails.com.au/users/1, faces extraordinaire and brother rspec, is having a hax day for "rails-oceania":http://groups.google.com/group/rails-oceania peeps and friends on Saturday, 18th of August at his place in Hornsby.
  
  Let's build some cool Railsy shit, he says. The "invite":http://rails-oceania.googlegroups.com/web/hax_august_invite.pdf and the "idea's 'n' stuff":http://wiki.rubyonrails.com.au/railsoceania/show/HaxDayAugust wiki page.
  
  There will be food, drink, wireless, music (I think he means freebird) and friends. 
  
  More details to come... RSVP to Lachie (see invite) is a must.
