-# title: Logging Rails activity in script/console
-# published: 2007-01-31
-# updated: 2007-02-06

:textile
  <strong class="update">Update:</strong> Check out "System-wide script/console logging":http://toolmantim.com/article/2007/2/6/system_wide_script_console_logging for something a little more convenient.
  
  Just found this "nice little nugget":http://weblog.jamisbuck.org/2007/1/8/watching-activerecord-do-it-s-thing#comment-1266:
  
  <pre><code class="ruby">
  if "irb" == $0
    ActiveRecord::Base.logger = Logger.new(STDOUT)
  end
  </code></pre>
  
  Chuck that into environment.rb and you'll get log messages straight into your @script/console@ when interacting with your models. If there was a way to tell if you were in the rails console within @.irbrc@ you could do it system wide.
  
  Can anybody else see a _tryactiverecord.com_ in the making? Why_, you hear that?
