-# title: Long articles look crap on the homepage
-# published: 2006-02-11

:textile
  Well that "last tech article":http://toolmantim.com/article/2006/2/11/upgrading_your_v2_plps_for_farcry_3 stuffed up my split layout so I'm just bumping it off the page with this hugely irrelevant and somewhat annoying blog post.
  
  Please don't unsubscribe. I'm doing this because I love you. I promise next time I'll be smarter.
  
  And if you're still upset, here's a cheezy viking grin to make you feel better:
  
  !http://static.flickr.com/29/93570710_f3ef846bbb_m.jpg!
  
  Don't fight it. The endorphins will do you good.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_65
      %p.author
        Ren
      .body
        :textile
          Hugely irrelevant and somewhat annoying aside, it still has a better title than the other post =P
