-# title: Lookin for a new team member
-# published: 2007-03-29

:textile
  via "http://pastie.caboo.se/50220":http://pastie.caboo.se/50220
  
  *Sydney Ruby on Rails Developer Position Available*
  
  bq. Be smart... code Rails... get paid... do good.
  
  "Job Futures":http://www.jobfutures.com.au is seeking a passionate, talented developer to contribute to new
  and existing internal Rails applications. The position is a 6 month full-time
  contract with potential for a permanent position.
  
  Job Futures is a non-profit organisation (don't worry, we pay our developers)
  in the employment and training services sector. As a geographically dispersed
  national network, we have an unique opportunity to improve efficiency through
  web-based applications which you will design, test, develop and deploy. Job
  Futures was one of the earliest adopters of Rails in Australia, and hosts the
  Rails Oceania Sydney group's monthly meetups.
  
  We prefer an agile and collaborative approach to development. You will be
  working in a small, democratic team, and will work with the business to
  design, prioritise and deliver new functionality to meet the changing needs of
  the organisation. There's no shopping baskets here... you'll be solving
  interesting and business specific problems using the best tools available to
  you.
  
  h2. Experience required
  
  * Strong interest in Ruby and Ruby on Rails
  * Deep familiarity with Ruby and Ruby on Rails preferred
  * Working knowledge of a range of other programming languages
  * Familiarity with javascript, HTML, CSS and development of web-based user
     interfaces
  * Strong skills in OO modelling and design
  * Very strong communication skills (written, oral, visual)
  * Competent knowledge of Unix operating systems
  * Some Linux system administration skills preferred
  * Competent knowledge of SQL
  * Familiarity with Subversion preferred
  * Familiarity or interest in agile development practices preferred
  * Strong interest in Test Driven Development (TDD) and/or Behaviour Driven
     Development
  
  h2. Perks
  
  * Using your powers for good not evil and help disadvantaged jobseekers
  * Code in Rails, everyday
  * No PHBs
  * No Microsoft
  * Sunny office with lots of natural light
  * Dedicated and fast rails servers
  * Some flexibility in work arrangements
  * Work with some of Australia's largest existing Rails applications
  * Working with a small team of smart, passionate developers
  
  h2. Wanna join us?
  
  Drop an email with a resume and some words to developers@jobfutures.com.au by
  Fri 6th April.
