-# title: Measure Map vapourware?
-# published: 2006-11-14

:textile
  It's been 9 months since "Google purchased":http://googleblog.blogspot.com/2006/02/here-comes-measure-map.html "Measure Map":http://www.measuremap.com/ from "Adaptive Path":http://www.adaptivepath.com/ but the application still hasn't left beta, only supports one account per email address and is still sporting a "We are now part of Google" link on the home page. 
  
  What's going on? Is Measure Map slowly going down the merger-gurgler?
