-# title: Measure Map vapourware?
-# published: 2006-11-14

:textile
  It's been 9 months since "Google purchased":http://googleblog.blogspot.com/2006/02/here-comes-measure-map.html "Measure Map":http://www.measuremap.com/ from "Adaptive Path":http://www.adaptivepath.com/ but the application still hasn't left beta, only supports one account per email address and is still sporting a "We are now part of Google" link on the home page. 
  
  What's going on? Is Measure Map slowly going down the merger-gurgler?

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_350
      %p.author
        %a{:href => 'http://interfacelounge.net'} Hunter Nield
      .body
        :textile
          I've been thinking exactly the same thing, where are all the updates? Its a well designed app but there are things that are definately missing. Last week I came across the inability to change the account to another blog, annoying since it means that account is useless. Lets hope it hasn't been lost in depths of Google.
    %li#comment_351
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          and word on the street is that Jeffrey Veen has left Google too.
          
          Apart from the initial launch it seems the Measure Map never had any real development momentum. I wonder if there's any developers actually working on it at all?
    %li#comment_352
      %p.author
        Adam Schilling
      .body
        :textile
          Jeff's left? Wow. Does that mean he's back at Adaptive Path?
          
          I'm still waiting for MM to invite me in. :-(
    %li#comment_354
      %p.author
        %a{:href => 'http://sultanasandwich.com'} James Hill
      .body
        :textile
          I was thinking about this the other day as I check analytics, it's a pity considering it's so much easier to use than analytics.
    %li#comment_355
      %p.author
        %a{:href => 'http://www.themaninblue.com'} Cameron Adams
      .body
        :textile
          I wonder whether all this purchasing of web apps by large companies isn't just a competition ploy.
          
          A similar thing happens in the movie industry, where a studio will buy up the rights to a script, just so that another studio can't get it. Maybe planning to do something with it, maybe not.
          
          You could apply the same line of thinking to web apps. Perhaps they buy them just to harness their resources? Features/people.
    %li#comment_357
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Adam: <a href="http://jeremywc.blogspot.com/2006/10/will-measure-map-ever-be-released.html">Will Measure Map ever be released?</a> mentions seeing a blurb on <a href="http://twitter.com/">twitter</a>. Not sure if it's true though.
          
          You're still waiting on an invite! How long has it been?
          
          James: Yes! and I can use Safari to browse Measure Map too.
          
          Cameron: that wouldn't surprise me... but if that was the case then they obviously weren't very up front about it to the Measure Map team.
    %li#comment_358
      %p.author
        %a{:href => 'http://www.rexchung.com'} Rex Chung
      .body
        :textile
          I heard a Jeff Veen podcast interview from a month back. He said he was enjoying Google, and interesting to work in a big company. Mearsuremap is being integrated into Google's bigtable and user authentication. 
