-# title: Mollio: A set of <span class="caps">CSS</span> Building Blocks
-# published: 2006-03-06

:textile
  !(thumb)http://static.flickr.com/45/108704497_c8ba5f6ff5_o.png!
  
  Alongside "webDU":http://webdu.com.au/, Daemon's Pete Ottery released a set of HTML and CSS templates called "Mollio":http://www.mollio.org/ that are designed as a launching pad for your own standards-based designs.
  
  From Pete's announcement:
  
  <blockquote>
  To recap for those that join later -- I presented a session at "WebDU 
  2006":http://webdu.com.au/ about CSS and having some sort of toolkit that provides a 
  starting point when designing a site. 
  
  As we know, there's "more than one way to skin a cat":http://www.usingenglish.com/reference/idioms/there+are+many+ways+to+skin+a+cat.html so these 
  templates are not intended to be the absolute best way of structuring 
  your CSS/HTML. That always depends on your specific project. 
  
  I find these templates are useful to use as a starting point because 
  the CSS/HTML has been constructed with "robustness" (is that a word?) 
  in mind -- to allow chunks of the code to be copied & pasted between 
  projects and your layout/content remains intact or requires little 
  editing.
  </blockquote>
  
  Having had the chance to work with Pete on some of his designs I found both his talk and Mollio interesting. I always wondered what the story was with class names such as "class-c" and "form-b" and also wondered how he produced quality CSS in such little time. Little did I think both these things were somehow connected.
  
  Generic class names all over the place are a little hard for me to swallow. I tend to hand-craft every new design and end up with a vocab specific to each site. I suppose, as the class names are only for the developers and designers, if a common vocab amongst sites means increased productivity then that's definitely a good thing.
  
  You can check out the templates at "mollio.org":http://www.mollio.org/ and "Geoff's announcement":http://blog.daemon.com.au/index.cfm?objectid=CD02E25A-EA69-0EC7-FC1E6AFEB11363ED on the Daemon blog.
  
  _And for those unfamiliar with Pete's work, he was one of designers who lead "SMH":http://smh.com.au/ and "The Age":http://theage.com.au/ into their new standards-based designs._

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_169
      %p.author
        %a{:href => 'http://www.jenerate.com.au'} Ben Hudson
      .body
        :textile
          hey Tim, thanks for putting me onto this - tons of good little code snippets to be found.
          
          cheers
    %li#comment_171
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          hey np. Ben! Did you also see Yahoo's "Grids CSS":http://developer.yahoo.com/yui/grids/. Not bad to use as a base...
