-# title: Montastically free site monitoring
-# published: 2006-06-23

:textile
  I'm not sure how long the service has been around but, thanks to "a heads up by Larry":http://www.approachingnormal.com/articles/2006/06/23/montastic-is-fantastic, I've just started using "Montastic":http://www.montastic.com/ for site monitoring.
  
  So far it looks pretty good, considering what "the rest of site monitoring marketplace looks like":http://www.google.com/search?q=free+site+monitoring, and I like that the developers have a "sense of humour":http://www.montastic.com/video.html. Oh yeah, and it's free.
  
  Hopefully this means I can say goodbye to my multiple "SiteUptime.com":http://www.siteuptime.com/ accounts.

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_219
      %p.author
        %a{:href => 'http://interfacelounge.net'} Hunter Nield
      .body
        :textile
          Yeah, montastic is a great little service. I have been using it for a while on our sites and it has worked very well. Now if they would only implement SMSes ;)
    %li#comment_222
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          Yeah it'd be handy if you could buy SMS credits or something of the like.
    %li#comment_223
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          or you could just set it to send an email to your phone...
