-# title: Montastically free site monitoring
-# published: 2006-06-23

:textile
  I'm not sure how long the service has been around but, thanks to "a heads up by Larry":http://www.approachingnormal.com/articles/2006/06/23/montastic-is-fantastic, I've just started using "Montastic":http://www.montastic.com/ for site monitoring.
  
  So far it looks pretty good, considering what "the rest of site monitoring marketplace looks like":http://www.google.com/search?q=free+site+monitoring, and I like that the developers have a "sense of humour":http://www.montastic.com/video.html. Oh yeah, and it's free.
  
  Hopefully this means I can say goodbye to my multiple "SiteUptime.com":http://www.siteuptime.com/ accounts.
