-# title: Multiple file selection with a :)
-# published: 2008-01-10

:textile
  The standard OS X file selection dialog does a really really bad job at helping us select multiple files.
  
  Take for example the task of choosing which photos you want to upload to when using Flickr Uploadr.
  
  Firstly I hit the add button in the Flickr Uploadr interface and I'm presented with a file open dialog. The photos I want to add are all in the same folder but they aren't consecutive in the file list. I select the folder and browse the file list using the up and down keys whilst remembering the names of the files I want to select  because I can't simultaneously browse and select files. Once I've remembered which photos to choose I &#8984;-click the files and hit "Open" (which could no doubt have a better label).
  
  Quite often I select the wrong photos or forget which ones I wanted, forcing me to start the browse and &#8984;-click process all over again. Sometimes I give up and simply select one file at a time, bouncing to-and-fro between the dialog and the Flickr Uploadr tool.
  
  What if we could simply select the files we want as we browse the list without having to commit the file names to memory or bounce to-and-fro between the dialog and application?
  
  Below is the standard OS X file open dialog and a mock of a dialog that would be more helpful when selecting multiple files.
  
  !http://toolmantim.com/images/blog/standard-file-open-dialog.jpg(The standard OS X file open dialog)!
  
  !http://toolmantim.com/images/blog/mock-open-dialog-with-selection-panel.jpg(Mock of a file selection dialog that allows you to select whilst browsing, showing an add to selection button and panel of selected files)!

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_1419
      %p.author
        %a{:href => 'http://www.c41.com.au'} Pete Ottery
      .body
        :textile
          firstly, nice mockup. looks legit :) 
          
          Now, I get yr point. i think. I'll have to wait till I'm home on the mac to try out yr steps - as I dont seemed to have the same frustration as you.
          
          But as an aside, why dont you use a finder window to sort by date modified or whatever to find the pics you want to upload, and then drag'n'drop them into the upload area of Juploader (http://juploadr.org/) - no more daggy open dialog windows at all. works like a treat 
    %li#comment_1420
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          Thanks Pete. Yeah they are sorted already but I don't always want to upload all of them, maybe just 3 or 4. I decide which of the 3 or 4 photos whilst I'm in that dialog.
          
          The finder option would avoid the dialog altogether, but hitting the add button is still the simplest way to add photos. I hate opening up a finder window just to drag and drop a file when a simple dialog would suffice.
    %li#comment_1421
      %p.author
        %a{:href => 'http://karmakars.com'} Amit Karmakar
      .body
        :textile
          Path Finder, Path Finder, Path Finder :)
    %li#comment_1422
      %p.author
        %a{:href => 'http://blog.wonsys.net'} Simone
      .body
        :textile
          I would add a slider (to change previews size) too, good mockup anyway :)
    %li#comment_1423
      %p.author
        %a{:href => 'http://rexchung.com'} Rex Chung
      .body
        :textile
          This is a feature of picasa that I'll love to have in iphoto. Have you tried facebook iphoto plugin? That is so much easier than flickr uploader, so I haven't been using flickr much these days.
