-# title: Multiple file selection with a :)
-# published: 2008-01-10

:textile
  The standard OS X file selection dialog does a really really bad job at helping us select multiple files.
  
  Take for example the task of choosing which photos you want to upload to when using Flickr Uploadr.
  
  Firstly I hit the add button in the Flickr Uploadr interface and I'm presented with a file open dialog. The photos I want to add are all in the same folder but they aren't consecutive in the file list. I select the folder and browse the file list using the up and down keys whilst remembering the names of the files I want to select  because I can't simultaneously browse and select files. Once I've remembered which photos to choose I &#8984;-click the files and hit "Open" (which could no doubt have a better label).
  
  Quite often I select the wrong photos or forget which ones I wanted, forcing me to start the browse and &#8984;-click process all over again. Sometimes I give up and simply select one file at a time, bouncing to-and-fro between the dialog and the Flickr Uploadr tool.
  
  What if we could simply select the files we want as we browse the list without having to commit the file names to memory or bounce to-and-fro between the dialog and application?
  
  Below is the standard OS X file open dialog and a mock of a dialog that would be more helpful when selecting multiple files.
  
  !http://toolmantim.com/images/blog/standard-file-open-dialog.jpg(The standard OS X file open dialog)!
  
  !http://toolmantim.com/images/blog/mock-open-dialog-with-selection-panel.jpg(Mock of a file selection dialog that allows you to select whilst browsing, showing an add to selection button and panel of selected files)!
