-# title: New Inventors Google gadget
-# published: 2007-05-31

:textile
  ABC's "New Inventors":http://abc.net.au/tv/newinventors/ host "James O'Loghlin":http://abc.net.au/tv/newinventors/txt/s1057706.htm is the very entertaining MC here at "Google Developer Day in Sydney":http://www.google.com/events/developerday/en_AU/. Someone (I think it was Google's Aaron Noble) wondered why there wasn't a New Inventors "Google Gadget":http://desktop.google.com/plugins/. I hacked up something small in the proceeding presentations, and it really is dead simple.
  
  Add it from the "Google content directory page":http://www.google.com/ig/directory?root=%2Fig&dpos=top&num=24&url=http://www.toolmantim.com/gadgets/new_inventors.xml or by using "Add by URL":
  http://www.toolmantim.com/gadgets/new_inventors.xml

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_613
      %p.author
        cheryl
      .body
        :textile
          you're such a clever little monkey. 
          
          I've been sitting here on facebook and googling whether it's a sign that you're a swinger if you have pampas grass in your front yard. (It is, if you were curious). 
          
