-# title: New <span class="caps">RORO</span> site and first video
-# published: 2007-08-02

:textile
  Jason, Max, Lachie worked their little tooshies off the past few days to get the long awaited "rubyonrails.com.au":http://rubyonrails.com.au redesign off the ground.
  
  ...and, in the same day Lachie posted "the first video from the meetups":http://www.viddler.com/lachie/videos/1/ onto viddler, with 3D intro, soundtrack and all. 
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/7a86d99c/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/7a86d99c/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>

#archived-comments
  %h1 Archived Comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_760
      %p.author
        %a{:href => 'http://www.standardzilla.com'} Scott G
      .body
        :textile
          great to see pressos online with sound... they make so much more sense.
    %li#comment_762
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          Yeah, it makes a huge difference eh!
    %li#comment_778
      %p.author
        %a{:href => 'http://the.railsi.st'} Patrick Crowley
      .body
        :textile
          Cool intro!
    %li#comment_782
      %p.author
        %a{:href => 'http://lachstock.com.au'} Lachlan Hardy
      .body
        :textile
          I just love this. It's fantastic!
          
          And Colin Devroe just featured this vid on Viddler: <a href="http://blog.viddler.com/cdevroe/rails-fairway/">http://blog.viddler.com/cdevroe/rails-fairway/</a>
          
          How cool is that?!
    %li#comment_804
      %p.author
        %a{:href => 'http://www.frozenplague.net'} Ryan
      .body
        :textile
          Hi Tim,
          the link in your post is broken. It links to http://toolmantim.com/article/2007/8/2/rubyonrails.com.au
          when it should link to http://rubyonrails.com.au
    %li#comment_820
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          Fixed. Thanks Ryan!
