-# title: New tech stream
-# published: 2006-02-09

:textile
  Well against Maxine's "sage advice":http://toolmantim.com/article/2006/2/8/tech_or_personal#comment-55 I've created another stream on toolmantim.com for all my tech related stuff.
  
  I'll mostly be covering web development (rails, coldfusion, web standards) and other fun, nerd related topics.
  
  We'll see how thing go, and I might end up just spinning this off onto a separate blog... but for now its just a bit of a fun experiment I guess.

#archived-comments
  %h1 Archived Comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_58
      %p.author
        %a{:href => 'http://www.marxandmarzipan.com/'} Maxine
      .body
        :textile
          Sagacious? Me? There must be another Maxine....
