-# title: Only 7 days left until Sydney Rails Workshop
-# published: 2006-02-22

:textile
  There's only 7 days left to secure your spot at the "Introduction to Ruby on Rails Workshop":http://aviditybytes.com/ruby_on_rails_workshop_sydney_australia/!
  
  The half-day workshop will introduce you to new web development tools and techniques which will help you write web application faster, with more enjoyment and oozing with best practices.
  
  If you're a business looking at investigating these new tools, or if you're a freelancer wanting to expand your skills, you'll get weeks worth of self-learning packed into this half-day.
  
  After a thorough introduction to the Ruby language we'll dive head first into creating your first Rails application: _Railshop_.
  
  "!http://static.flickr.com/26/99667506_c01890eebc_m.jpg!":http://flickr.com/photos/toolmantim/99667506/
  
  It's an online shop with categories and products, backed by a full object model, an adminstration interface and covers all the necessary Rails machinery you'll need to start writing your own web applications.
  
  As a bonus, we've included on the CD extra course material that you'll be able to work on after you leave; covering:
  * Pagination
  * Database Migrations
  * FIle upload with product images
  * Sending emails
  * RSS Feeds
  * AJAX previews in the admin interface
  * Using ActiveRecord acts with AJAX for drag+drop reordering of categories
  * Boosting security
  * Multi-user login
  * Caching
  * Deployment
  
  The workshop will be run in dedicated training facilities on George St Sydney and starts 9am sharp on March 1.
  
  There's only 7 days left and a handful of seats so phone Vivianne at Daemon on 02 9380 4162 or email <a href="mailto:vivianne@daemon.com.au">vivianne@daemon.com.au</a> to secure your spot.

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_89
      %p.author
        %a{:href => 'http://teamaskins.net/'} Ben Askins
      .body
        :textile
          Can't wait... see you there.
