-# title: Peek inside the Googleplex
-# published: 2006-12-25

:textile
  [via "petercooper.co.uk":http://www.petercooper.co.uk/life-in-the-googleplex-26.html]
  
  Everyone with a say in their employee's work environment needs to check out Times magazine's "Life in the Googleplex photo essay":http://www.time.com/time/photoessays/2006/inside_google/.
  
  Entertainment, food, massage, tech support, featuring employee art and hobbies, sport and excercise.
  
  I'd love to see a study which shows the effect on employees (both at work and at home), productivity and the bottom-line when a company starts to create such an inviting work place.
