-# title: Peepswag
-# published: 2007-04-11

:textile
  <a href="http://www.flickr.com/photos/toolmantim/455391172/"><img src="http://farm1.static.flickr.com/178/455391172_c16131b0c3_m.jpg" width="180" height="240" alt="Peepswag" /></a>
  
  woot!
  
  All the way from the U-S of A

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_550
      %p.author
        %a{:href => 'http://www.standardzilla.com'} Scott G
      .body
        :textile
          where's the belly shot! :-)
          
    %li#comment_551
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          only if "Geoff":http://topfunky.com gets "kitta":http://www.flickr.com/people/kitta/ to do a tummy shot
    %li#comment_552
      %p.author
        %a{:href => 'http://www.scenarioseven.com.au'} lisa h
      .body
        :textile
          Tim, I almost want to take it back after that comment of yours :P 
    %li#comment_553
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          but Lisa, do you know <a href="http://flickr.com/photos/toolmantim/143821999/">the backstory</a>?
    %li#comment_555
      %p.author
        %a{:href => 'http://peepcode.com'} topfunky
      .body
        :textile
          I'm having women's shirts printed up, Lisa! I promise!
          
          I'll send them in May.
