-# title: Presentation: Rails Two Dot Oh
-# published: 2008-02-07

:textile
  At "last months's RORO Sydney meetup":http://rubyonrails.com.au/2008/1/4/sydney-january-2008-meetup I gave a short presentation on the changes you should know about in Rails 2.0.
  
  Much to <a href="http://drnicwilliams.com/">Dr Nic</a>'s dismay this was mostly the same presentation I gave at the November Melbourne Ruby meetup and "Railscamp 2":http://wiki.railscamp07.org/.
  
  Without further ado...
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler_toolmantim_17"><param name="movie" value="http://www.viddler.com/player/1e4fae04/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/1e4fae04/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler_toolmantim_17" ></embed></object>
  
  The intro screens were put together with a "RubyCocoa":http://rubycocoa.sourceforge.net/HomePage app that "Lachie Cox":http://smartbomb.com.au/ put together which automates the "Blender":http://www.blender.org/ rendering and compositing. Very kewl. Now all we need is dual video tracks, one showing the presenter, one with the screencast, and another microphone in the audio, and we'll be set!
