-# title: Presentation: Supporting Time Zones
-# published: 2007-10-17

:textile
  Here's the presentation I gave at the Rails Oceania Sydney September meetup on how to add time zone support to your rails app.
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/722b7793/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/722b7793/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>
  
  "Geoff Evason":http://startingrails.com/ of "MomentVille":http://www.momentville.com/ gave a talk on improving front-end performance: "YSlow on Rails":http://www.viddler.com/explore/toolmantim/videos/15/.

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_1361
      %p.author
        %a{:href => 'http://notahat.com/'} Pete Yandell
      .body
        :textile
          The new <a href="http://hackd.wordpress.com/2007/11/23/sexy-time-zones-in-ruby-on-rails-with-timezone_fu">timezone_fu plugin</a> is probably worth a look too.
