-# title: Presentation: Rails Two Dot Oh
-# published: 2008-02-07

:textile
  At "last months's RORO Sydney meetup":http://rubyonrails.com.au/2008/1/4/sydney-january-2008-meetup I gave a short presentation on the changes you should know about in Rails 2.0.
  
  Much to <a href="http://drnicwilliams.com/">Dr Nic</a>'s dismay this was mostly the same presentation I gave at the November Melbourne Ruby meetup and "Railscamp 2":http://wiki.railscamp07.org/.
  
  Without further ado...
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler_toolmantim_17"><param name="movie" value="http://www.viddler.com/player/1e4fae04/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/1e4fae04/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler_toolmantim_17" ></embed></object>
  
  The intro screens were put together with a "RubyCocoa":http://rubycocoa.sourceforge.net/HomePage app that "Lachie Cox":http://smartbomb.com.au/ put together which automates the "Blender":http://www.blender.org/ rendering and compositing. Very kewl. Now all we need is dual video tracks, one showing the presenter, one with the screencast, and another microphone in the audio, and we'll be set!

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_1470
      %p.author
        %a{:href => 'http://falkayn.blogspot.com'} Angus McDonald
      .body
        :textile
          Tim,
          
          Good presentation (as usual), I'm missing the Sydney RORO, my only Ruby these days is using Watir for testing ASP.NET apps.
          
          I've <a href="http://falkayn.blogspot.com/2008/04/8-little-known-things-about-falkayn.html">tagged</a> you with that old '8 little known things about me' meme. Hope you don't mind!
          
          Cheers,
          Angus
    %li#comment_1471
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          Thanks Angus! Ahhh well at least you're sneaking it in somehow. Hope to see you tomorrow night and at Railscamp. 
