-# title: Rails webDU talk
-# published: 2006-03-05
-# updated: 2006-03-06

:textile
  For those who missed it I've uploaded a quicktime of the talk I gave at webDU on March 2: "An Introduction to Ruby on Rails":http://aviditybytes.com/resources/ruby_on_rails_tim_lucas_webdu.mov.
  
  *(update)Update:* hey look, there's me!
  
  "!http://static.flickr.com/49/107144579_34d183e8a6_m.jpg!":http://www.flickr.com/photos/leorex/107144579/in/pool-webdu/
  
  *(update)Another update:* Jason Sheedy gives the "first piece of feedback on my talk":http://www.jmpj.net/jason/index.cfm?mode=entry&entry=CDC253F4-CF1D-76B8-AF5C4449D809D0F3:
  bq. Tim did an awesome job of explaining a totally new subject matter in an easy to understand and entertaining way. 10 points for presentation Tim.
  
  Great! He also mentioned:
  bq. It looks like it would be ok for simple stuff, but not too sure how it would handle any sort of complexity.
  
  Well being quite strict MVC and completely object-oriented rails scales quite well in terms of complexity. It would have been better if I'd also shown the behind-the-scenes of a less trivial application.

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_93
      %p.author
        %a{:href => 'http://sultanasandwich.com'} James Hill
      .body
        :textile
          Sweet job, wish I had been there to see it!
