-# title: Railscamp photos: Camp Chapman
-# published: 2007-05-13

:textile
  "!http://farm1.static.flickr.com/214/495726344_187507f257_m.jpg(Rails Camp Hall - Ben Askins)!":http://flickr.com/photos/teamaskins/495726344/
  
  Ben's posted a bunch of photos of <a href="http://flickr.com/photos/teamaskins/tags/campchapman/show/">Camp Chapman</a>, the location for <a href="http://railscamp07.org">RailsCamp07</a>. Fireplace? Check. Bonfire? Check. Good times ahead? Check.
