-# title: Rails Aus Sydney Christmas Bash
-# published: 2006-12-15

:textile
  24 hours after "WebJam":http://toolmantim.com/article/2006/12/15/webconserve saw the "Ruby on Rails Australia XMAS Bash":http://upcoming.org/event/131048/ at Digital Wranglers HQ in Sydney.
  
  <a href="http://www.flickr.com/photos/toolmantim/321276167/" title="Photo Sharing" class="thumb"><img src="http://static.flickr.com/143/321276167_5d91c4e049_m.jpg" width="240" height="180" alt="Gazing" /></a>
  
  "David Lee":http://flickr.com/photos/teamaskins/321596037/ did a great preso on "Piston":http://piston.rubyforge.org/ and vendor branch management with Subversion, and though I've been using it on new projects I didn't know how easy it was to move over (@piston convert@).
  
  "Ben Askins":http://flickr.com/photos/tags/benaskins did a presentation on the new Restful Resources with a great rundown of the helpers that are created (probably the hardest part to get your head around), and tried to win the cutest photo award with his puppies.
  
  "Lachie":http://flickr.com/photos/lachie/307079034/ gave a talk on Hornsby, his new proof-of-concept of a modelling process that more closely matches reality, where your fixtures, models and database are kept in sync via the use of example data rather than doing everything manually. Lachie blew Ben out of the water in the cutest photos award with his 5 week old son and nude poses. I'm bringing trophies next time!
  
  It's interesting to see the presentation styles change and improve over time... many more visuals rather than code, and I think we're going to struggle to keep to the 10 minute preso format if people keep getting so good. I'd love to still keep the small format around every meeting to give people a low barrier to entry to presenting, and hopefully in 6 months we'll have an army or Railers speaking at conferences around Australia and the world (watch out RailsConf!). Maybe we could have one longer 30 minute preso (that way you can spend 15 minutes just on background, visuals and explanation), and two small 5 or 10 minute presos?
  
  Unfortunately I didn't get much of a chance to work on the rubyonrails.com.au site, or prepare for a preso, so I'll have to leave it til next time.
  
  It was great to see about 25 people turn out, overfilling "Piers":http://flickr.com/photos/teamaskins/321591766/ lovely office. Hopefully we'll have a new, regular venue for 2007. Everybody was definitely thirstier... 2.5 cases of beer were polished off! (I'm guessing it was the "Melbourne influence":http://melbourne.rubyonrails.com.au) The night ended with steak and more beer at Forresters.
  
  <a href="http://www.flickr.com/photos/toolmantim/321276270/" title="Photo Sharing" class="thumb"><img src="http://static.flickr.com/141/321276270_d4e42bde94_m.jpg" width="240" height="180" alt="The Aftermath" /></a>
  
  The next meeting has been slated for January 17th 2007, so keep your eyes peeled to the mailing list (discuss-subscribe@rubyonrails.com.au) for more info in the new year.
