-# title: Rails Oceania coding powa
-# published: 2007-04-30

:textile
  Thanks to "Lachie":http://blog.lachie.info/, the "Rails Oceania group":http://rubyonrails.com have "a google code hosted project":http://code.google.com/p/rails-oceania/ to help members publish plugins, libraries and any other code that might result from the user group meetings or "drunken weekends away":http://railscamp07.org/.
  
  I used to host my tidbits on the "aviditybytes SVN":http://svn.aviditybytes.com/ but I'll be moving everything over to here instead, and to celebrate, here's a piece of code I meant to chuck up ages ago. Are you ready for it? It's a @FormBuilder@ plugin, but not just any old one. This one does magical things... like "Nic's magical things":http://magicmodels.rubyforge.org/... but without the magic.
  
  The "AccessibleFormBuilder plugin":http://rails-oceania.googlecode.com/svn/timlucas/plugins/accessible_form_builder/ is just a basic encapsulation of some of the guidelines published on <a href="http://boxofchocolates.ca/">Derek Featherstone</a>'s "simplyaccessible.org":http://simplyaccessible.org/. @<span>@'s denoting fields with errors, inline errors messages--that kinda thing.
  
  If any Rails hackers in the Oceanic area want to publish code, but lack a public SVN repository, feel free to get in touch with Lachie, Ben or I. Rails projects don't really belong there thanks to Google's measly 100MB limit, but they can easily live in their own Google code project.
  
  ...*and supa-magical-special prizes* for the Oceanic rails hackers who write their first gem, hosted on "the Google code project":http://code.google.com/p/rails-oceania, and published to "the Rubyforge account":http://rubyforge.org/projects/rails-oceania/ by the 1st of July (yep, that gives you "Railscamp":http://railscamp07.org to get something together). More details forthcoming, but get cracking!
