-# title: Railscamp day passes
-# published: 2007-05-01

:textile
  For those who can't commit to the four-or-so days of "Railscamp07":http://railscamp07.org/, Ben has announced day passes for Saturday and Sunday, the 16th and 17th June, at $40 each.
  
  There's only 10 available for each day, so if you're keen to come and mindshare with other Railsers "go and grab yourself a ticket":http://railscamp07.eventwax.com/rails-camp-07/register!
