-# title: RDoc preso at Rails Sydney May meetup
-# published: 2007-05-10

:textile
  Another awesome Rail Sydney meetup "last night":http://rubyonrails.com.au/past/2007/4/16/sydney_may_2007_meetup/ at "Job Futures":http://www.jobfutures.com.au HQ.  We're always on the lookout for keen Rails coders with or without experience to join the team here at Job Futures, so please do get in touch if you're interested.
  
  "Max Muerrman":http://muermann.org/ gave a non-rails (gasp) presentation on customer involvement. It was interesting for me because at Job Futures a lot of the tools we're building are for staff and customers, so there's good possiblity to customer participant and feeling of project ownership. It's certainly inspired me to sit down with some of the gang this week and get them involved in what we're building. He's uploaded the "PDF":http://muermann.org/ruby/roro/Customer-Involvement-in-Agile-Projects.pdf and "keynote file":http://http://muermann.org/ruby/roro/Customer-Involvement-in-Agile-Projects-keynote.zip for those who couldn't make it.
  
  "Cameron Barrie":http://www.mvpaustralia.com.au/ gave a fantastic short preso on how they added location based services to one of their recent apps. He showed how to use "GeoKit":http://geokit.rubyforge.org/ for geocoding addresses to lat/longs as they entered the database (rather than on-the-fly), and "YM4R":http://thepochisuperstarmegashow.com/projects/ to do funky gmap displaying, marker layout and anything your wildest mappy dreams imagination could conjure.
  
  I gave a short preso introducing people to RDoc; what it is, how to use it, how Rails uses it and where to start customising it. Below is the presentation, and if you feel so inclined the <a href="http://www.toolmantim.com/files/presentations/2007_05_09_Intro_to_RDoc/Tim Lucas%20-%20Introduction%20to%20RDoc%20files.tar.gz">supporting files</a> and <a href="http://www.toolmantim.com/files/presentations/2007_05_09_Intro_to_RDoc/Tim%20Lucas%20-%20Introduction%20to%20RDoc.pdf">PDF</a> are available too.
  
  <object type="application/x-shockwave-flash" data="https://s3.amazonaws.com:443/slideshare/ssplayer.swf?id=47453&doc=introduction-to-rdoc-1849" width="425" height="348"><param name="movie" value="https://s3.amazonaws.com:443/slideshare/ssplayer.swf?id=47453&doc=introduction-to-rdoc-1849" /></object>
