-# title: Real world vs the Web 2.0 world
-# published: 2006-12-01

:textile
  I just stumbled across "Bronners":http://bronners.com, an online christmas decoration company in the US. How'd I stumble across them? Via a maps-mashup they've done, "My Christmas Wonderland":http://christmas.bronners.com, which allows you to map, photograph, find and comment on houses with amazing christmas lighting and decorations. 
  
  I've seen a fair number of new web apps launched in the past 18 months, but this one really struck a chord.
  
  Simple design and simple implementation. Built around an existing group of passionate people, but still having huge appeal to everybody (cmon, who doesn't like pretty christmas lights?). Directly profitable based on an existing business whilst not doing any hard sell. Using the computer as a tool to reinforce and explore offline relationships.
  
  Compare that to the Web 2.0 breed of sites I see being launched left, right and center. Complex ideas with complex implementations, built to satisfy online innovators, often solving problems that you didn't even know you had and involvement which often encourages even more disconnect with the real world.
  
  Techcrunch and co. might have created an absolutely fascinating meme of businesses and online communities, but how useful are they to us all in a larger context?

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_382
      %p.author
        %a{:href => 'http://webherder.com'} Luke Byrne
      .body
        :textile
          I agree its pretty easy to live within the microcosm of Tech Crunch and Read Write Web et all, and go 
          
          "Wow, how did I ever get by without this webservice/product"
          
          but to the community at large these are all generally worthless sites/products, just really cool uses of technology.
    %li#comment_385
      %p.author
        %a{:href => 'http://www.standardzilla.com'} Scott G
      .body
        :textile
          spot on tim.
          
          First address on the list was one in Vancouver, where they used to print out a special section to the newspaper with all of these houses listed so you could go check them out.
          
          great repurposing of an old successful idea.
          
    %li#comment_389
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          Luke: yep, but I'm still glad the microcosm exists, because it's creating tools and ideas, such as the maps mashups, that can be used in the wider context.
          
          Scott: ah cool. I haven't seen anything like that in our papers. Maybe the local leader has something similar. Any interesting info the kite surfing guys like to share?
