-# title: RedAnt
-# published: 2007-06-03

:textile
  I noticed "an interesting new entry on CSSImport":http://www.cssimport.com/archive/2007/06/red_ant this morning:
  
  "!http://www.toolmantim.com/images/blog/red-ant.png(Red Ant)!":http://redant.com.au
  
  After a little poking around I found not only are they located about 10 minutes away, have a sexy little site and have worked on some "great projects":http://redant.com.au/blog/weve-been-busy-ants/, but are also using Rails for a bunch of stuff.
  
  They're working on a bunch of interesting apps for the "Oxfam Trailwalker fundraiser":http://www2.oxfam.org.au/trailwalker/sydney/ 100km walk which a bunch of my friends are doing, and it looks like they're "having lunch":http://www.atlassian.com/software/confluence/casestudies/redant.jsp with those local "non-startup startup giants":http://blogs.atlassian.com/rebelutionary/archives/2007/05/when_is_a_startup_not_a_startup_anymore.html too.
  
  It's refreshing to see some real-life, non-web2 projects being worked on by an talented, open-minded and fun little team. Definitely a cool agency to keep your eye on.
