-# title: RedBubble: another Aussie startup
-# published: 2006-12-20

:textile
  "Justin French":http://justinfrench.com/, one of our Aussie railers from way back, has been secretly codin away at an upcoming Aussie startup "RedBubble":http://redbubble.com.au/, who've finally sent an update to their email subscribers. I've always seen Justin French as a bit of a designer-cum-programmer, or "web technologist" "as Cameron Adams puts it":http://www.themaninblue.com/about/, so a position as senior developer at RedBubble in Melbourne sounds like a spot-on position.
  
  The idea behind RedBubble is an online community and marketplace for artists to share, comment, display and sell their creative work. From the sneak peek they sent through it looks like there's a heavy focus on printed media&#8212;no sign of interactive media exhibiting and selling DVDs for example&#8212;though maybe other media types are slated for the future.
  
  !http://toolmantim.com/images/blog/redbubble-sneakpeek.jpg(RedBubble Sneak Peek)!
  
  They've even put together "a cute introduction video":http://www.youtube.com/watch?v=y7PCaZdV-P8 and posted it to the viral marketing tool of choice: YouTube. How refreshing it is to hear an Australian accent!
  
  Can't wait to see how RedBubble goes. It's based in Melbourne, the creative heart of Australia, so I'm sure they'll have a loyal following from Day 1.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_411
      %p.author
        Jason
      .body
        :textile
          "It’s based in Melbourne, the creative heart of Australia"
          
          Don't tell Sydney-siders that!
          
          Well, I guess we gotta give Melbourne some tag of approvement :)
    %li#comment_412
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          I'm a Sydney-sider! I was down there "only a month ago":http://flickr.com/photos/toolmantim/sets/72157594390398100/ and they've definitely got a funkier creative scene goin on.
    %li#comment_413
      %p.author
        %a{:href => 'http://blog.lachie.info'} lachie
      .body
        :textile
          Talking of unexpected Aussie (or mid-pacific) accents made me think of some of the apple pro tools tours:
          http://www.apple.com/aperture/quicktours/
          http://www.apple.com/finalcutexpress/quicktours/
    %li#comment_414
      %p.author
        %a{:href => 'http://justinfrench.com/'} Justin French
      .body
        :textile
          Hi, thanks for the kind words and link love.  We are indeed working hard, and it's all coming together really well.  I'm really enjoying working for a local company and being part of something Australian.
          
          Of course there's a lot lot more than printed media planned, but you have to start somewhere.
          
          Incidentally, we're about to start advertising for at least one more programmer (based in Melbourne only) with a strong foundation in object modelling, so if anyone's keen, perhaps keep and eye out on my blog, or drop me an email.
    %li#comment_415
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          lachie: Interesting! Wonder how that happened.
          
          Justin: Wish I was in Melbourne ;)
          
          Totally understand with the print media... it wouldn't exactly be a simple task mastering DVDs for production etc.
          
          Something Aussie where all the deviantartists, ausinfront and DIK funksters can hang and buy cool prints would be great. I can't wait to use it!
    %li#comment_1364
      %p.author
        %a{:href => 'http://www.redbubble.com/people/roughdiamond'} Rough Diamond
      .body
        :textile
          I believe in RB.  There's no other place to be.
          
          RD
