-# title: RoRA Nov 15 Debrief
-# published: 2006-11-15

:textile
  <a href="http://www.flickr.com/photos/toolmantim/298325141/"><img src="http://static.flickr.com/112/298325141_0e57513ad2_m.jpg" width="180" height="240" alt="Geoffrey da party animal" /></a>
  
  Last night saw another Ruby on Rails Australia meetup at UTS Broadway.
  
  We were lucky enough to have "Geoffrey Grosenbach":http://nubyonrails.com/ turn up and give a preso on integrating "S3":http://aws.amazon.com/s3 with Rails using "S33R":http://rubyforge.org/projects/s33r/, as Geoff's in Sydney for his "beginner":http://wwworkshop.com.au/workshops/1 and "advanced":http://wwworkshop.com.au/workshops/4 Rails workshops. Geoff seems to have a great way of keeping things simple and not getting too caught up in the geekery of it all, and he can "almost keep up":http://flickr.com/photos/toolmantim/298325141/ with the Aussies in the pub as well!
  
  Myself and Myles Byrne gave presentations on ActiveSupport Nifties and integrating S5 with Camping.
  
  !http://toolmantim.com/images/blog/active_support_nifities_preso.gif(Active Support Nifties - winning friends with sexy code)!
  
  My quick preso covered three ruby constructs provided by ActiveSupport; <code>.blank?</code>, <code>&:proc</code>, and <code>returning</code>.
  
  Here's the ActiveSupport Nifties presentation in various flavours, all released under Creative Commons 2.5 Attribution license:
  * "interactive SWF":http://toolmantim.com/files/presentations/2006_11_15_RoRA_AS_Nifties/ActiveSupport_Nifties.swf (1MB)
  * "PDF":http://toolmantim.com/files/presentations/2006_11_15_RoRA_AS_Nifties/ActiveSupport_Nifties.pdf (244KB)
  * "zip of the Keynote 3 source":http://toolmantim.com/files/presentations/2006_11_15_RoRA_AS_Nifties/ActiveSupport_Nifties.zip (1MB)
  
  If you want to make sure you know about upcoming RoRA events you can get onto the Ruby on Rails Australia mailing list by emailing "discuss-subscribe@rubyonrails.com.au":mailto:discuss-subscribe@rubyonrails.com.au, and yes... I'm working on getting something slightly more useful on rubyonrails.com.au.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_359
      %p.author
        %a{:href => 'http://nubyonrails.com'} topfunky
      .body
        :textile
          I would like to point out that I was completely sober in that photo and was merely acting as if I had consumed 17 pints of Bees Knees.
    %li#comment_360
      %p.author
        %a{:href => 'http://interfacelounge.net'} Hunter Nield
      .body
        :textile
          Sounds like I missed out. I was all ready to go too but got caught up with a bunch of work.
          
          I'll just have to be there next time with a vengance!
