-# title: <span class="caps">RORO</span> August meetup roundup and my preso slides
-# published: 2008-08-14

:textile
  At the "RORO Sydney meetup":http://rubyonrails.com.au/2008/8/2/sydney-meetup-august-2008 last night we had an awesome line-up of presos, a new venue and a really fun vibe... it's feeling more like a webjam than a tech meetup!
  
  I gave a presentation on the process we went through to improve the performance of "iphone.news.com.au":http://iphone.news.com.au. Grab the "PDF of the slides":http://toolmantim.com/files/presentations/2008_08_13/Tim%20Lucas%20-%20Improving%20Performance%20of%20iphone.news.com.au.pdf or you can check it out on "SlideShare":http://www.slideshare.net/toolmantim/improving-performance-of-iphonenewscomau if that's your thang.
  
  "Xavier Shay":http://faces.rubyonrails.com.au/users/101-xaviershay gave a preso on why Mephisto is no good if you're a developer building a blog and why you wanna get a good base, fork it and build on it in vanilla Rails.
  
  "Carl Woodward":http://faces.rubyonrails.com.au/users/52-carlw2 gave a super quick demo of "Django":http://www.djangoproject.com/ which I'm hoping he'll have a chance to flesh out next month.
  
  "Andrew Snow":http://faces.rubyonrails.com.au/users/51-Andys%5E gave a juicy preso on Ruby Metaprogramming and mentioned one thing that had never occured to me.
  
  <pre><code class="ruby">Person.instance_eval do
    # ... add some class methods
  end</code></pre>
  
  "David Lee":http://faces.rubyonrails.com.au/users/19 fought off the hecklers and glitches to give a whirlwind console demo of getting up and running with "Git":http://git.or.cz/ which was a lot of fun. I vote for having one super-of-the-moment console demo every month if we can find brave enough souls.
  
  ... and the big announcement, another "Rails Camp":http://railscamp08.org/ is going down in Adelaide in November and numbers are limited so start cajoling your respective financiers sooner rather than later.

#archived-comments
  %h1 Archived Comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_1525
      %p.author
        %a{:href => 'http://steveandglo.com'} Steve Lead
      .body
        :textile
          I didn't understand a word of your presentation (apart from iPhone) but I really liked the style - simple and elegant
    %li#comment_1526
      %p.author
        %a{:href => 'http://toolmantim.com'} Tim Lucas
      .body
        :textile
          thanks Steve! You can blame <a href="http://carlahackettdesign.com/">Carla</a> for the design.
