-# title: <span class="caps">RORO</span> Sydney August Meetup
-# published: 2007-07-26

:textile
  The "next RORO Sydney meetup":http://rubyonrails.com.au/past/2007/7/26/sydney_august_2007_meetup/ is happening again: August 15 2007.
  
  "Max Muermann":http://faces.rubyonrails.com.au/users/8 is giving a rundown on "Creating and releasing a Gem" showing what went into packaging and releasing his recently released "goto_string gem":http://synaphy.com.au/2007/7/23/goto_string-gem-released.
  
  "Keith Pitty":http://faces.rubyonrails.com.au/users/11 is giving a talk on  "Why is Ruby such a good language for Rails?"
  
  "Rob Sharp":http://faces.rubyonrails.com.au/users/54 on Memcache, and how it makes "fasterlouder.com.au":http://fasterlouder.com.au all speedy-like.
  
  More info on "the official announcement":http://rubyonrails.com.au/past/2007/7/26/sydney_august_2007_meetup/.

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_734
      %p.author
        %a{:href => 'http://yeahnah.org'} Ryan Allen
      .body
        :textile
          I'll likely be there - let's party!!!
