-# title: Securing your production log
-# published: 2006-07-12

:textile
  Easily remove grime from your bathroom walls with the latest sitepoint tip; "Securing your production log file":http://www.sitepoint.com/blogs/2006/07/12/securing-your-productionlog/. Get in quick--this sale won't last!
