-# title: Simplifying ticket sales on sydneyoperahouse.com - Part I
-# published: 2010-01-31
-# custom title size: 484x60

.intro
  %p In this two-parter I turn my eye toward Sydney Opera House's online ticket ordering process, redesigning what's broken. Part I show's how to make the ticket sales process more persuasive and how to simplify the process for the 50% of events that have only a single performance. Part II extends these design changes to accommodate the trickier 50% of events, those with many different dates and times.

:markdown

  ## Part 1

  [![The current sydneyoperahouse.com.au website design](#{article_image_path(@article, "home.jpg")})](http://www.sydneyoperahouse.com/)

  [The Sydney Opera House](http://en.wikipedia.org/wiki/Sydney_Opera_House) is one of Australia's most famous cultural venues and host to over 450 musical and cultural performances per year. In 2007 locals [Frost Design](http://www.frostdesign.com.au/) were tasked with overhauling Sydney Opera House's brand and, along with the funky new brand, [a funky new website](http://www.sydneyoperahouse.com/).

  For the most part [sydneyoperahouse.com](http://www.sydneyoperahouse.com/) is great; the home page gives generous real estate to the popular upcoming events, each event has its own permalinkable page with photographs and obligatory social networking Share Bar™, and the site allows you to purchase tickets to the multitude of seasonal and limited seat events. 
  
  Though it's possible to buy tickets through the Opera House's site I keep seeing two major design problems which I'm waging cuts a huge percentage of Sydney Opera House's online ticket sales. The first problem is the lack of obviousness as to how to buy tickets. The second problem is how tickets are sold for the 50% of the events which have a single performance.
  
  ## Problem 1: Obviousness

  After purchasing tickets to the [upcoming Massive Attack gig](http://www.sydneyoperahouse.com/whatson/massive_attack.aspx) in March at the Opera House I promptly emailed a bunch of friends telling them to grab tickets. Through a combination of confusing copy and bad design (both of which I noticed when buying my tickets) one of my most techno-savvy friends didn't realise she could even purchase tickets.

  Glance at the following page, the same one my friend was looking at, and see how you might go about buying tickets:

  ![The design of the event page](#{article_image_path(@article, "event.jpg")})

  You might notice the ticket buying information in the orange right hand column, but it's unclear what you should do and what action you need to take to buy tickets.
  
  If you haven't guessed I'll tell you: the little <strong>15</strong> on the calendar, that's what you have to click. Not exactly persuasive or obvious.
  
  So what about the design is causing the confusion? A few things:
  
  1. The calendar is being drowned by the content above and below, it looks as if the Buy Tickets heading applies to that entire column. If we moved Buy Tickets into its own right column section, separating it from the information below, that'd go a long way.
  2. The most important item to encourage clicking is the little 15 on the calendar, but it looks exactly the same as the two "GO" buttons.
  3. The month controls are distracting and unnecessary—there's only one date, let alone month!
  4. The promotional code seems unecessary at this stage. It also turns out that it can be entered in the next step of the checkout process. For lack of knowing why it's there we'll take it out to provide more focus on the calendar.
  
  The end result:
  
  ![Redesign of ticket purchase section](#{article_image_path(@article, "orange-column-before-after.jpg")})

  This new design puts the most important call to action (the calender) in the top right with an icon and clear space to attract the eye.
  
  ## Problem 2: One-night-only performances

  About fifty percent (by my rough calculations) of the events being sold on Sydney Opera House's website have a single performance. If I'm buying tickets to an event that has only one performance why should I have to click the date on a calendar, and then choose the one time, and then finally hit a buy tickets button?
  
  A better way: just one big fat <strong>BUY TICKETS</strong> button!
  
  ![Ticket purchase button for one-night-only](#{article_image_path(@article, "event-button.jpg")})