-# title: Simplifying ticket sales on sydneyoperahouse.com - Part II
-# published: 2010-01-31
-# custom title size: 484x60

:markdown

  In part 1 I... In this Part II I'll cover redesigning the interface for handling multiple dates and times.

  ## 2
  
  So far I've shown how we can simplify the beginning of the ticket sales process by improving the layout and giving special treating to the 50% case of a single date and time. These two changes could improve the site significantly, and be done relatively easily.
  
  But 50% is only half of the ticket sales. What about the other 50%? In part II I'll look at the current calendar/time method for booking events with multiple dates and times. I'll demonstrate the problems that it introduces and a more effective design that'll this other 50% choose and buy tickets to events with 2 to 99 performances.

  ## Multiple dates and times
  
  If 50% of events are one-night-only performances then the other 50% must be a mix of many dates and times. Before even thinking about an improved interface we should look at the schedules the events being featured this month:
  
  * [Antony and the Johnsons](http://www.sydneyoperahouse.com/whatson/antony_and_the_johnsons.aspx): 31 Jan 8PM, 1 Feb 8PM
  * [Late Night Lounge](http://www.sydneyoperahouse.com/whatson/late_night_lounge_2010.aspx): 26 Feb 9:30PM, 13 Mar 10PM, 15 May 10PM, 12 Jun 11PM
  * [La Traviata](http://www.sydneyoperahouse.com/whatson/la_traviata_2010.aspx): 1 Feb 7:30PM, 4 Feb 7:30PM, 6 Feb 7:30PM, 13 Feb 1PM, 17 Feb 7:30PM, 20 Feb 7:30PM, 22 Feb 7:30PM, 25 Feb 7:30PM, 27 Feb 7:30PM, 5 Mar 7:30PM, 10 Mar 7:30PM, 13 Mar 1PM, 20 Mar 7:30PM, 23 Mar 7:30PM, 26 Mar 7:30PM, 29 Mar 7:30PM
  * [Optimism](http://www.sydneyoperahouse.com/whatson/optimism.aspx): 2 Feb 6:30PM, 3 Feb 1PM & 8PM, 4 Feb 8PM, 5 Feb 8PM, 6 Feb 2PM & 8PM, 7 Feb 5PM, 9 Feb 6:30PM, 10 Feb 12:15PM & 8PM, 11 Feb 8PM, 12 Feb 8PM, 13 Feb 2PM & 8PM, 14 Feb 5PM, 16 Feb 6:30PM, 17 Feb 1PM & 8PM, 18 Feb 8PM, 19 Feb 8PM, 20 Feb 2PM & 8PM
  * [Backstage Tour](http://www.sydneyoperahouse.com/Templates/Tours/Tours.aspx?id=15931&LangType=3081): Every day of January, February and March at 7am
  
  We've events with 2, 4, 16, and ~ 100 performances each. Optimism is the only event with multiple performances in a single day.
  
  How well does the calendar interface work to show the times? For the events with few dates it seems like overkill. For the events with many dates it certainly seems an easier way to browse, especially those with multiple times (like Optimism).