-# title: Site error notification in Farcry 3
-# published: 2006-02-15

:textile
  "!http://static.flickr.com/36/99540131_767b055d18_m.jpg!":http://www.flickr.com/photos/corpodibacco/99540131/
  
  When things go wrong on your site you wanna know about it.
  
  So how to get emails when your Farcry site dies?
  
  Just like with any CF app: add a @cferror@ statement to your application's @www/Application.cfm@ and point it to a cfm that will email you debugging information.
  
  Something to add to my maybesomeday list: add this as standard core functionality.
