-# title: SMSes on Rails &#8211; u r hot! I wnt u 2nite.
-# published: 2007-10-01

:textile
  Forgot to mention this one... the presentation I gave at "last month's RORO meetup":http://rubyonrails.com.au/2007/9/4/sydney-september-2007-meetup:
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/f16412b1/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/f16412b1/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>
  
  Check out Lachie's preso: "DRYing your views":http://www.viddler.com/explore/toolmantim/videos/13/.

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_853
      %p.author
        %a{:href => 'http://iamstillalive.net'} Dylan
      .body
        :textile
          Thanks Tim! Nice presentation. I've been using the clickatell library for a couple projects here stateside and it does work a treat.
          
          And to save other folks a little time here are those links from the end of the presentation:
          
          Tim's direct sms library
          http://svn.aviditybytes.com/rails/libs/direct_sms/
          
          Redpath's clickatell ruby api
          http://clickatell.rubyforge.org/
    %li#comment_1509
      %p.author
        %a{:href => 'http://sharacter.com'} nam khanh nguyen
      .body
        :textile
          I have register account in clickatell. username :namkhanhnguyen. pass:
          namkhand1 and api is 3104714. I use command sms -u namkhanhnguyen -p
          namkhanh1 -k 3104714 +84946169560 'Hello from clickatell' but it
          display error " Authentication failed (Clickatell::API::Error)".
          please help me. thank you very much.
