-# title: SMSes on Rails &#8211; u r hot! I wnt u 2nite.
-# published: 2007-10-01

:textile
  Forgot to mention this one... the presentation I gave at "last month's RORO meetup":http://rubyonrails.com.au/2007/9/4/sydney-september-2007-meetup:
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/f16412b1/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/f16412b1/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>
  
  Check out Lachie's preso: "DRYing your views":http://www.viddler.com/explore/toolmantim/videos/13/.
