-# title: SmugMug <span class="caps">CEO</span> on serving 100M photos using Amazon S3
-# published: 2006-11-14

:textile
  I just stumbled across the "Amazon S3: Show me the money":http://blogs.smugmug.com/onethumb/2006/11/10/amazon-s3-show-me-the-money/ article on the CEO of SmugMug's blog.
  
  It's a really interesting, no-BS description of how much money "SmugMug":http://www.smugmug.com/ have saved since using S3 for their file storage needs.
  
  Though I haven't really investigated Amazon's "S3":http://aws.amazon.com/s3 and "EC2":http://aws.amazon.com/ec2, I have the feeling that if S3 is as solid as Don claims, and EC2 is similarly mature and stable, the combination of the two could make for a really interesting web app hosting platform.
