-# title: So what is Rails, anyway?
-# published: 2006-12-21

:textile
  From an email convo with a colleague. I'm guessing many people have similar questions, so I'll just put it out there.
  
  bq. How different is it compared to asp, php or cfm?
  
  It's a bit different to your asp, php, cfm style application in terms of that there's an actual self-contained application directory, that contains all your files within it. Unit tests, models, database schemas, documentation, everything. To get it up and running you can't just slap files into a directory and point Apache to it, you have to "start" the Rails application and point Apache to it. This is why hosting is a little bit more tricky.
  
  bq. Is it a totally different way of writing code or does it have similarity to anything else?
  
  The Ruby language is similar to Javascript in that it's highly dynamic, you can modify classes at runtime, and has some very elegant language features. It's similar to Python in that it gets lumped into the "scripting language" category, and it's similar to Java in that it's laid on object-oriented foundations. Check out "try ruby!":http://tryruby.hobix.com/ to give you a feel for the language. If you've done ActionScript, Java, Python, object-oriented PHP you'll feel right at home (or, more likely, a sunny island resort, sipping a pina colada and being surrounded by sexy lookin people).
  
  bq. If you had to put a finger on what is the best feature Ruby on Rails can perform... what would it be?
  
  Instead of one I'll give a rundown of the facets which make it a great tool. Rails gives apps a cohesive feel, and a really nice separation of the model (database related stuff) and the controller and view. It does so in a way that requires only a little bit of learning and lets you get up-and-running really fast. It also scales really well to team work... the tools are designed to help work in small teams. It also has all the nice best-practices built in, and its all based on open-source solutions. And the community rocks.
