-# title: South by Inner West
-# published: 2006-06-05

:textile
  "!http://www.toolmantim.com/images/blog/south_by_inner_west.jpg(South by Inner West at the Annandale, June 11)!":http://www.annandalehotel.com/anh/eventdetails.asp?id=538
  
  Ok, so it doesn't have 3 streams or parties sponsored by google, but it does have a texan bbq with baby back ribs, tequila and beer... the most important ingredients of "the original thing":http://flickr.com/photos/toolmantim/sets/72057594079642833/!
