-# title: Streamlined to provide Rails with Django-like features
-# published: 2006-06-25

:textile
  [via "ApproachingNormal":http://www.approachingnormal.com/articles/2006/06/24/relavence-announces-streamlined]
  
  The bane of Rails development for myself has been implementing data-driven admins.
  
  In user-created-content applications such as the "37signals":http://37signals.com apps or "cork'd":http://corkd.com this isn't a big problem -- they don't need a data-driven admin. Unfortunately for me though, nearly every one of my rails apps in production has needed an admin section, including this blog.
  
  When I recently added the "gigs section":http://toolmantim.com/gigs I toyed with the "scaffolding extensions plugin":http://wiki.rubyonrails.org/rails/pages/Scaffolding+Extensions+Plugin, but found it only mildly more useful than your standard Rails scaffolding (i.e. useless for a commercial-quality app). All I wanted was a super-simple admin (@/admin/gigs@) for my super simple model (@Gig@) that would allow me to concentrate on building the front-end.
  
  Luckily, for folks like us, "Relevance":http://www.relevancellc.com/ has announced they're releasing "Streamlined":http://streamlined.relevancellc.com/, who's aim, it seems, is to provide <a href="http://www.djangoproject.com/">Django</a>-like admin capabilities for your Rails applications. Hopefully we can take all the good bits from Django whilst keeping all the good bits of Rails, and make a Rails-based solution much more appealing for a certain "previously-ignored breed of apps":http://code.djangoproject.com/wiki/DjangoPoweredSites.
  
  You can be sure I'll be checking it out when they release it next month at OSCON. Keep an eye on the "Streamlined blog":http://streamlined.relevancellc.com/ for more info.
