-# title: Sydney Rubinius Sprint
-# published: 2008-01-31

:textile
  "EngineYard":http://engineyard.com/ are really making use of their "3.5 mil":http://brainspl.at/articles/2008/01/11/engine-yard-takes-3-5-million-in-vc-money and sponsoring the "Sydney Rubinius Sprint":http://engineyard.eventwax.com/rubinius-sprint, a full hack-day-slash-workshop run by "Marcus Crafter":http://redartisan.com/2008/1/31/rubinius-sprint and "Dylan Egan":http://dylanegan.com/ on Sunday March 9th.
  
  If you haven't heard about "Rubinius":http://rubini.us/ it's a sexy new virtual machine for Ruby that's going to rock the world's jocks off.
  
  Word on the street is both "Evan Phoenix":http://blog.fallingsnow.net/ and "Eric Hodel":http://blog.segment7.net/ will be making an appearance.
  
  Unfortunately I can't make it as I'll be backpacking in Vietnam. If you're a Ruby hacker and can make it to Sydney you'd be crazy to miss it. Don't forget to "register your attendance":http://engineyard.eventwax.com/rubinius-sprint.

#archived-comments
  %h1 Archived Comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_1433
      %p.author
        %a{:href => 'http://dylanegan.com'} Dylan
      .body
        :textile
          Tim, thanks for the mention, unfortunately its all booked out for now, but there may be more spots soon.
