-# title: System-wide script/console logging
-# published: 2007-02-06
-# updated: 2007-02-06

:textile
  "Last time":http://toolmantim.com/article/2007/1/31/logging_rails_activity_in_script_console I mentioned the @environment.rb@ logger hack that helps understand Rails activity in script/console. The only problem was you had to add it to each Rails app's @environment.rb@.
  
  Thanks to "a hint":http://toolmantim.com/article/2007/1/31/logging_rails_activity_in_script_console#comment_469 left by "Chad Humpries":http://spicycode.com/ we now have it system-wide via your @.irbrc@ file.
  
  Chuck the following in your @~/.irbrc@ file, load up a console and try a @User.find(:first)@.
  
  <strong class="update">Update</strong>: I've slightly rewritten Chad's code below to prevent a @NoMethodError@ on nil, remove some unnecessary parenthesises and to use @&&@ instead of @and@.
  
  <pre><code class="ruby">
  script_console_running = ENV.include?('RAILS_ENV') && IRB.conf[:LOAD_MODULES] && IRB.conf[:LOAD_MODULES].include?('console_with_helpers')
  rails_running = ENV.include?('RAILS_ENV') && !(IRB.conf[:LOAD_MODULES] && IRB.conf[:LOAD_MODULES].include?('console_with_helpers'))
  irb_standalone_running = !script_console_running && !rails_running
  
  if script_console_running
    require 'logger'
    Object.const_set(:RAILS_DEFAULT_LOGGER, Logger.new(STDOUT))
  end
  </code></pre>
  
  Look ma... inline logging:
  
  <pre><code>
  $ ./script/console 
  Loading development environment.
  >> Person.find(:first)
    Person Load (0.000432)   SELECT * FROM people LIMIT 1
  => #<Person:0x139a2c8 @attributes={...}>
  </code></pre>
  
  How dandy.

#comments.comments
  %h3 Comments
  %p.old-comments New comments are no longer being accepted.
  %ol
    %li#comment_472
      %p.author
        %a{:href => 'http://www.danwebb.net'} Dan Webb
      .body
        :textile
          Nice work.  I like that a lot.  Big ups to yourself and Chad.
    %li#comment_475
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          FYI: I've updated the code above to fix a small bug with messaging @nil@.
    %li#comment_477
      %p.author
        Lindsay Evans
      .body
        :textile
          <p>Neato.</p>
          
          <p>Although now I'll have to mess with script/console to get ANSI colours working properly :(</p>
          
          <p>BTW, Windows users will need to put .irbrc in their user profile directory (C:\Documents and Settings\[username]), then set the HOME env var to that directory.</p>
    %li#comment_478
      %p.author
        %a{:href => 'http://spicycode.com/'} Chad Humphries
      .body
        :textile
          Sorry, I had the following at the beginning of my irbrc
          
          <pre><code>
          IRB.conf[:LOAD_MODULES] = []  unless IRB.conf.key?(:LOAD_MODULES)</code></pre>
    %li#comment_785
      %p.author
        %a{:href => 'http://omaxh@AOL.com'} MAX   HENSCHEL
      .body
        :textile
          TO:> System-wide script/console logging-
          
          It was a "NICE" try (?!!--)
          
          I do believe that programmers can (yes: can...) do a lot better. Small white print on pitch black (??) background makes for hard-to read TEXT!!--
          THANK YOU VERY MUCH DEAR Fellos.--
          
          Houston, Texas (LONE STAR STATE.)
          
    %li#comment_1351
      %p.author
        %a{:href => 'http://www.nateklaiber.com'} Nate Klaiber
      .body
        :textile
          Thanks for this tip. I was previously using Jamis Buck's tip of adding to environemnt.rb, but this makes things much nicer as I want to have it available across all apps.
    %li#comment_1479
      %p.author
        %a{:href => 'http://a.tumblelog.com'} Marcus
      .body
        :textile
          Great tip! Works like a charm.
