-# title: The purpose of a standardised conference powerpoint template
-# published: 2006-02-09

:textile
  So I'm busy preparing the notes for "my presentation":http://webdu.com.au/go/session/ruby-on-rails-beyond-the-hype to go in the workbook for "webdu":http://webdu.com.au delegates and I'm wondering: how am I supposed to use the presentation templates?
  
  I don't think my entire presentation has a single bullet point. It's either a photo, a few words, a code sample or a live demo.
  
  So I've been thinking: what's the use of presentation templates at a conference? ...and I think I've found the answer:
  
  _To stop people using the default Powerpoint templates._
  
  And do you know what? Thank god for that.
