-# title: The Podcast Pickle
-# published: 2006-03-16

:textile
  

#archived-comments
  %h1 Archived Comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_124
      %p.author
        %a{:href => 'http://www.themaninblue.com'} Cameron Adams
      .body
        :textile
          I still haven't googled Podcast Pickle.
          
          I don't think I ever will.
