-# title: The first Bar Camp Sydney
-# published: 2007-03-05

:textile
  Saturday saw "my own, and Sydney's, first ever Bar Camp":http://barcamp.org/BarCampSydney. I'd gone with very few expectations (mainly because of the hectic lead up to <a href="http://webjam.com.au">WebJam2</a>); to interact with other Sydney geeks, meet some new faces and to come away inspired--boy were they met and exceeded.
  
  <a href="http://www.flickr.com/photos/jmalonzo/408564944/in/pool-barcampsydney/"><img src="http://farm1.static.flickr.com/168/408564944_082056c86f_m.jpg" alt="What's happening" /></a>
  
  For those unfamiliar with a Bar Camp, it's an adhoc gathering of people, who've arranged to be at the same place, at the same time, and given enough resources ("pen, paper":http://www.flickr.com/photos/russweakley/407589820/in/pool-barcampsydney/, lounges and some rooms with projectors and seats) to share ideas, opinions and experiences about anything from Life as an Expat to Google-level-performance for web applications. The session timetable is made up as the day goes by--just whack your piece of paper on the board and you've got 20+ keen ears and opinions.
  
  <a href="http://www.flickr.com/photos/leorex/409609765/"><img src="http://farm1.static.flickr.com/186/409609765_4cc7be12a1_m.jpg" alt="Unorganised" /></a>
  
  "Mick":http://wheel.blogs.com/ from "Tangler":http://www.tangler.com/ kindly arranged "sexy CampBar tees":http://www.flickr.com/photos/leorex/409609765/ whilst a bunch of Aus's hottest startups funded other, "less fasionable":http://www.flickr.com/photos/halans/408609784/in/pool-barcampsydney/, activities:
  
  <a href="http://www.flickr.com/photos/halans/408609784/in/pool-barcampsydney/"><img src="http://farm1.static.flickr.com/166/408609784_3fa1235586_m.jpg" alt="Size matters" /></a>
  
  "Gavin":http://servantofchaos.typepad.com has a "great writeup":http://servantofchaos.typepad.com/soc/2007/03/barcamp_sydney.html covering pretty much all of the sessions I participated in. Google-style MapReduce scaling (which reminded me not to scare from the challenge of solving hard problems), OpenID (which I'll be integrating into various apps coming up so I can join in the conversation), microformats, and agile development (the sort of thing I've been involved with at my new position at "Job Futures":http://www.jobfutures.com.au).
  
  <a href="http://www.flickr.com/photos/halans/408609614/in/pool-barcampsydney/"><img src="http://farm1.static.flickr.com/161/408609614_40524507f2_m.jpg" alt="Microformats" /></a>
  
  Unfortunately I missed out on <a href="http://scenarioseven.com.au/">Lisa's</a> "usability talk":http://www.flickr.com/photos/charliebrewer/408670141/in/pool-barcampsydney/ and "Mike":http://blogs.atlassian.com/rebelutionary/ and <a href="http://martinjwells.wordpress.com/">Martin's</a> talk on lesson's learning from starting their own companies, which both looked awesome. In hindsight I also would have loved to start a talk "Rails: agile, in practice" highlighting some of the agile practices the "Rails":http://rubyonrails.com community encourages, and get feedback from how others are working on the web.
  
  <a href="http://www.flickr.com/photos/spidie/408575918/"><img src="http://farm1.static.flickr.com/184/408575918_6a6532c746_m.jpg" alt="Bootstrap Startups" /></a>
  
  A great day and night--I can't wait until the next Barcamp Sydney sneaks it's head around the door! 

#archived-comments
  %h1 Archived comments
  %p Previously comments were allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_506
      %p.author
        %a{:href => 'http://drnicwilliams.com'} Dr Nic
      .body
        :textile
          Sounds awesome. One of many things to look forward to when I return to Oz in August (though to Brisbane; but Sydney's just down the road, surely...)
    %li#comment_507
      %p.author
        %a{:href => 'http://blog.tangler.com/'} Mick
      .body
        :textile
          Hey, nice post. It was a good day. Met some good people. Sydney is picking up pace. 
    %li#comment_508
      %p.author
        %a{:href => 'http://www.standardzilla.com'} Scott G
      .body
        :textile
          will have to catch the next one for sure! sounded great judging by all the feedback from everyone.
    %li#comment_509
      %p.author
        %a{:href => 'http://blog.moltn.com'} Cheryl
      .body
        :textile
          Yeah it was such a shame I missed it, I was really looking forward to it. 
          
          Next time for sure. 
    %li#comment_511
      %p.author
        %a{:href => 'http://liako.biz'} Elias B
      .body
        :textile
          Mate - it was good meeting you. See you at the next one!
    %li#comment_512
      %p.author
        %a{:href => 'http://www.toolmantim.com'} Tim Lucas
      .body
        :textile
          I'd fly up for the Brisbane one if you're up there Nic; assuming, that is, that they're not on the same day.
          
          The rest of you definitely have to go next time--not even a BBQ and O/S trip is a good excuse! :)
          
          Ah so you found me Elias. Now I get to RSS stalk you, and see just how small this world really is.
    %li#comment_513
      %p.author
        %a{:href => 'http://liako.biz'} Elias Bizannes
      .body
        :textile
          Well I actually just RSS added you to stalk you, and came across an article about Myles Byrne...I went to school with a Myls Byrne...
          
          We are going to have to complete our chat over another beer!
    %li#comment_514
      %p.author
        %a{:href => 'http://www.servantofchaos.com'} Gavin Heaton
      .body
        :textile
          Looking forward to your talk on "Rails: Agile in Practice" at the next BarCamp!
