-# title: timwouldlickit.com
-# published: 2007-03-01
-# updated: 2007-03-04

:textile
  <strong class="update">Update:</strong> there's now "a video of the launch":http://www.youtube.com/watch?v=-7ScdqM4lPE.
  
  <a href="http://www.flickr.com/photos/toolmantim/407154932/"><img src="http://farm1.static.flickr.com/183/407154932_68ec5be015_o.jpg" width="280" height="373" alt="I would lick it" /></a>
  
  "wtf?":http://www.flickr.com/photos/toolmantim/407154932/
  
  "timwouldlickit.com":http://timwouldlickit.com
