-# title: tumble me too
-# published: 2007-03-11

:textile
  "!http://farm1.static.flickr.com/39/123476189_140da40c4b_m.jpg(bryce - Vu Bui)!":http://flickr.com/photos/vubui/123476189/
  
  Now that all "the cool cats":http://technoweenie.tumblr.com/ are getting one (c'mon, you know we've all wanted one for ages now, we were just too lazy to build it) and "davidville":http://www.davidville.com/ have released the very impressive, not-to-mention free, "tumblr.com":http://www.tumblr.com/, it's finally here: "tumblemantim":http://tumble.toolmantim.com.
