-# title: UnicodePrimer for Rubyists
-# published: 2006-11-15

:textile
  Something I saw ages ago but forgot to mention is the great "Unicode Primer":https://fngtps.com/projects/multibyte_for_rails/wiki/UnicodePrimer from the guys that added ActiveSupport::Multibyte to Rails. 
  
  A highly recommended read if you haven't really groked unicode and it's implications.
