-# title: Web Connections
-# published: 2006-09-20

:textile
  <a href="http://www.flickr.com/photos/toolmantim/248071337/" title="Photo Sharing"><img src="http://static.flickr.com/90/248071337_d73c08d512_m.jpg" width="240" height="180" alt="Web Connections goes live" /></a>
  
  "Cam":http://themaninblue.com and I have released "Web Connections":http://connections.webdirections.org upon the world, a site for the delegates of the upcoming "Web Directions 2006 conference":http://webdirections.org to meet one another, play with maps and all that kinda thing.
  
  ...and it's only really just occured to me that the conference is next week! As in, _next_ week. It's gonna be great seeing some faces I haven't seen for ages, and there's a killer speaker line up.
  
  There's still a few tickets left too if you haven't got yours yet.

#archived-comments
  %h1 Archived comments
  %p Comments were previously allowed on articles. Though no new comments are being accepted you can see the old comments below.
  %ol
    %li#comment_323
      %p.author
        %a{:href => 'http://sultanasandwich.com'} James Hill
      .body
        :textile
          very sexy indeed.. very cool!
