-# title: WebConserve
-# published: 2006-12-15

:textile
  Another exciting geek month of geek events in Sydney is almost over, with webblast, WebJam and the Rails Aus Sydney meetup.
  
  h2. WebJam!
  
  Lachlan and Anson held an awesome and first-of-a-kind web event in Sydney on Tuesday: WebJam.
  
  17 presenters had 3 minutes (and no more) to present cool techy stuff they've been working on this year. The highlights were <a href="http://lachy.id.au/">Lachlan Hunt</a>'s preso of javascript form validation, where everybody cried "oooh" and "ahhhh" whenever the colours changed (you'd swear it was a magic show, or, "as Scott reckons":http://www.standardzilla.com/2006/12/13/web-jam-sydney/, a pantomime), Craig Sharkie's reshowing of "Jason-Padding":http://flickr.com/photos/toolmantim/279467232/, "Dimitri's cool-ass pie chart":http://dmitry.baranovskiy.com/work/fiechart/?timlucas,cameronadams and the Ben Appleton from the Google Maps team showing how easy its gonna be to have your own maps mashups via KML (imagine what would be possible if every API and web app had KML output). We even had our own Rails Aus hard-core-CSy-guy "Myles Byrne":http://myles.id.au/ showing off his "DCSS project":http://myles.id.au/2006/11/20/introducing-dcss.
  
  Between WSG, Web Essentials, Web Dir and this, I just can't get over how much substance and how little vendor/sales focus there is. No other tech crowd in Australia are like it.
  
  A long while ago I put the idea to Anson and Lachlan to do Australian Idol style SMS voting. Unfortunately time was running short and then was plenty of other organising to be done and it didn't look like it was going to happen, so I put my hand up to whip up something for the night. A day or two of coding, some hand-rolled Hijax and sponsorship from two, as Anson would say, <a href="http://directsms.com.au">awesome (DirectSMS)</a> <a href="http://segpub.net">mofos (SegPub)</a>, and we ended up with this:
  
  <a href="http://www.flickr.com/photos/toolmantim/322412821/" title="Photo Sharing"><img src="http://static.flickr.com/133/322412821_7c069067b7.jpg" width="500" height="309" alt="WebJam Idol" /></a>
  
  As votes streamed in the graphs and totals did their Ajaxy thang, and to the right we had rotating profiles showing the description and code to vote for each. Over 500 votes came in over the hour and a half.
  
  At the end we announced the winner, though some "sneaky buggers":http://connections.webdirections.org/people/203 already found out on their PSPs via the free wireless. They didn't know what was coming though: Javascript fireworks, baby! (thanks to the oh so cool "Fireworks.js libary":http://www.schillmania.com/projects/fireworks/)
  
  <a href="http://www.flickr.com/photos/toolmantim/322412802/" title="Photo Sharing"><img src="http://static.flickr.com/126/322412802_47fbf85ae5.jpg" width="500" height="309" alt="Da Winner!" /></a>
  
  The word on the street is that another WebJam is slated for around March, and I'm guessing it can only be bigger and better than this one.
  
  It's about time we start pimping our Aussie stuff!
