-# title: Why things have been a little quiet&#8230;
-# published: 2008-07-11

:textile
  <a href="http://www.flickr.com/photos/toolmantim/2657287969/" title="Pete &amp; I had a baby by toolmantim, on Flickr"><img src="http://farm4.static.flickr.com/3163/2657287969_3c82fe1ebf_o.jpg" width="441" height="500" alt="Pete &amp; I had a baby" /></a>

#comments.comments
  %h3 Comments
  <p class='old-comments'>New comments are no longer being accepted.</p>
  %ol
    %li#comment_1511
      %p.author
        %a{:href => 'http://www.grillpanda.com'} Matt
      .body
        :textile
          Oh man, did it leave you with the runs?
    %li#comment_1512
      %p.author
        %a{:href => 'http://www.sultanasandwich.com'} James Hill
      .body
        :textile
          Awesome work... soon every company in aus will be lining up for!
          
          @matt teehee... oooh it's actually a London restaurant.. perhaps we should check it out.. Let's take adam and say we're going for something tame like sushi.
    %li#comment_1513
      %p.author
        %a{:href => 'http://www.learnosity.com'} Gav
      .body
        :textile
          That'll teach you not to eat curry.
          Nice photo... you could be a hand model! ;-) 
    %li#comment_1514
      %p.author
        %a{:href => 'http://andyhoward.id.au'} Andy Howard
      .body
        :textile
          Looks awesome mate, nice work!
    %li#comment_1515
      %p.author
        %a{:href => 'http://drnicwilliams.com'} Dr Nic
      .body
        :textile
          Very nice work. The fancy logo sites on my dashboard now.
          
          Pity most of the headlines are too long to be readable! :)
          
          Did you do the other sites too?
