-# title: Why things have been a little quiet&#8230;
-# published: 2008-07-11

:textile
  <a href="http://www.flickr.com/photos/toolmantim/2657287969/" title="Pete &amp; I had a baby by toolmantim, on Flickr"><img src="http://farm4.static.flickr.com/3163/2657287969_3c82fe1ebf_o.jpg" width="441" height="500" alt="Pete &amp; I had a baby" /></a>
