-# title: Why the Lucky Stiff!
-# published: 2006-03-14

:textile
  I had no idea that "why":http://whytheluckystiff.net/ was going to be here.
  
  bq. Coders, friends, here is a chair for you. On the projector, a travelogue following the shoes of two kids. Max and Elly Orthley, who found a computer in a backpack that someone left under their window. They powered up the thing, which lit up with a little rabbit and a sparkling rainbow. And a prompt. (By which I mean: up popped two little arrows asking these kids to code.) "...":http://2006.sxsw.com/interactive/programming/panels/?action=show&id=IAP060023
  
  "Sounds intriguing":http://2006.sxsw.com/interactive/programming/panels/?action=show&id=IAP060023
