-# title: Yellow pants and racks of plastic
-# published: 2006-05-20

:textile
  A few years ago ("before there was Rails":http://www.kissnation.com/intro.cfm) I stumbled across a vaguely but yellowly&#8482; marketed web hosting company from Sydney. I remember thinking they looked pretty good, but there weren't any prices.
  
  Like all good student startups, "aviditybytes":http://aviditybytes.com ran most of our stuff from underneath the kitchen table. No, really... from "_under_":http://www.flickr.com/photos/toolmantim/149663579/ the table.
  
  What was I talking about? Oh right, that hosting company. Well, 6 months ago I stumbled across them again thanks to "Amit Karmakar":http://karmakars.com and "Jon Hicks":http://www.hicksdesign.co.uk/ and found they do Rails hosting, amongst other things.
  
  The mob I'm talking about is "Segment Publishing":http://segpub.com/.
  
  Not only did we manage to move our entire hosting and internal operations onto one of their shared hosting accounts (plus about 10 dollars worth of extra domains) but they've fulfilled every request I've ever made.
  
  So why all the hoohar? Maybe I'm amused too easily... but I'm just sitting here bashing "@rake remote:deploy@":http://manuals.rubyonrails.com/read/book/17 into terminal (thanks to them fulfilling another of my requests) and thought I'd bring them to the attention of anybody looking for no-bullsh*t, affordable hosting run by some great guys who're web designers themselves.
  
  I look forward to catching up with Daniel and/or "Jeremy":http://flickr.com/people/creativebastard/ at the first official Aussie Rails meetup which, for those that don't know, is next Thursday 25th May at the Australian Youth Hotel at 6:30pm.
  
  And if anybody would like to use Capistrano on their Segpub account I've created the "Segpub Capistrano Family Recipe":http://svn.aviditybytes.com/rails/libs/segpub_capistrano_recipe/deploy.rb for your manducable pleasure.
